@charset "utf-8";

.warpper-gray50per{ background:rgba(0,0,0,.5);}

.ul-nav{ float:left; width:79%;}
.ul-nav li{ width:14%; text-align:center; cursor:pointer; float:left; font-size:1.6em; color:#333; height:35px; line-height:35px;}
.ul-nav li:hover{ background:#008f82; transition:all 1s; color:#e1e1e1;}
.ul-nav-second{ width:100%; }
.ul-nav-second li{ width:100%; height:70px; line-height:70px; background:#fff; text-align:center; vertical-align:middle; color:#fff; font-size:1.6em; border:1px solid #e1e1e1; cursor:pointer; position:relative;}
.ul-nav-second li .li-ext{ width:294%; position:absolute; top:0; left:100%; z-index:99; background:#fff; display:none; border:1px solid #e1e1e1; }
.ul-nav-second li .li-pro{ width:100%; position:absolute; top:0; left:0; z-index:999;}
.ul-nav-second li img{ vertical-align:middle;}
.ul-nav-second .li-hover{ background:#fff color:#fff;}
.ul-nav-second .li-hover .li-pro{ width:100%; background:#fff; }
.ul-nav-second .li-hover .li-ext{ display:block; }

.ul-sub-nav{ width:100%;}
.ul-sub-nav li{ width:14.25%; float:left; height:40px; line-height:40px; text-align:center;}

.ul-reg-step{ width:100%;}
.ul-reg-step li{ float:left; width:299px; height:70px; cursor:pointer;}
.ul-reg-step .li-hover .li-line{ width:132px; float:left; border-bottom:3px solid #00b1a1; margin-top:18px;}
.ul-reg-step .li-hover .li-num{ width:35px; height:35px; line-height:35px; font-size:1.8em; color:#fff; float:left; background:#00b1a1;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%; text-align:center;}
.ul-reg-step .li-hover p{ text-align:center; color:#00b1a1; font-size:1.2em; line-height:40px;}
.ul-reg-step li .li-line{ width:132px; float:left; border-bottom:3px solid #c9c8c8; margin-top:18px;}
.ul-reg-step li .li-num{ width:35px; height:35px; line-height:35px; font-size:1.8em; color:#666; background:#e1e1e1; float:left; border:none;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%; text-align:center;}
.ul-reg-step li p{ text-align:center; color:#c9c8c8; font-size:1.2em; line-height:40px;}

.ul-notice{ width:100%;}
.ul-notice li{ list-style:url(../images/icon-list.png); height:30px; line-height:30px; width:40%; margin:0 5%; float:left;}
.ul-msg{ width:100%;}
.ul-msg li{ list-style:url(../images/icon-list2.png); height:35px; line-height:35px; width:100%;}
.ul-news{ width:95%; padding-left:5%;}
.ul-news li{ list-style:url(../images/icon-list3.png); height:35px; line-height:35px; width:100%; border-bottom:1px dashed #e1e1e1;}
.ul-news2{ width:95%; padding-left:5%;}
.ul-news2 li{ list-style:url(../images/icon-list2.png); height:35px; line-height:35px; width:100%; border-bottom:1px dashed #e1e1e1;}

.myTable td{ height:40px; line-height:40px; border:none; border-bottom:1px solid #e1e1e1; text-align:center;}
.myTable2 td{ height:40px; line-height:40px; border:1px solid #e1e1e1; border-collapse: collapse; text-align:center;}
.myTable3 td{ height:40px; line-height:40px; border:none; border-collapse: collapse; text-align:left;}
.myTable4 td{ padding:10px; border:none; border-bottom:1px solid #e1e1e1;}
.myTable5 td{ height:30px; line-height:30px; border:none; border-collapse: collapse; text-align:left;}
.myTable6 td{ height:30px; line-height:30px; border:none; border-collapse: collapse; text-align:center;}
.myTable7 td{ padding:10px; text-align:center;}

.tab{ padding:5px 10px; float:left; margin:10px; color:#666;}
.tab-hover{ background:#00B1A1; color:#fff;}

.tip{ border:1px solid #e1e1e1; padding:5px; margin:5px 10px; display:inline-block; float:left; cursor:pointer;}
.tip .tip-del{ float:right; display:none; color:#78c5df; margin-left:5px;}
.tip:hover{ border:1px solid #9ec7ff;}
.tip:hover .tip-del{ display:block;}
.tip-clear{ padding:5px; margin:5px 10px; background:#ff8900; color:#fff; cursor:pointer; border:1px solid #ff8900; float:left;}

.ul-tab{ width:100%; height:40px; border:1px solid #e1e1e1;}
.ul-tab li{ width:10%; height:40px; line-height:40px; float:left; background:#fafafa; text-align:center; color:#6d6d6d;}
.ul-tab .li-hover{ width:9.5%; border-left:1px solid #e1e1e1; border-right:1px solid #e1e1e1; background:#fff; color:#00b1a1; font-weight:bold; height:41px;}

.ul-info{ width:96%; margin:0 auto;}
.ul-info li{ width:15%; text-align:center; float:left; height:40px; line-height:40px; color:#474747; cursor:pointer;}
.ul-info .li-hover{ color:#00b1a1; border-bottom:2px solid #00b1a1;}


.floor-1 .floor-bor{ border-bottom:2px solid #4cb6ec;}
.floor-1 .floor-text{ color:#4cb6ec;}
.floor-1 .floor-title{ background:#4cb6ec;}
.floor-2 .floor-bor{ border-bottom:2px solid #feac00;}
.floor-2 .floor-text{ color:#feac00;}
.floor-2 .floor-title{ background:#feac00;}
.floor-3 .floor-bor{ border-bottom:2px solid #00b1a1;}
.floor-3 .floor-text{ color:#00b1a1;}
.floor-3 .floor-title{ background:#00b1a1;}
.floor-4 .floor-bor{ border-bottom:2px solid #01c8e5;}
.floor-4 .floor-text{ color:#01c8e5;}
.floor-4 .floor-title{ background:#01c8e5;}


/*
| ------------------------------------------
| Glide styles
| ------------------------------------------
| Here are slider styles
| 
*/
.slider{position:relative;width:100%;height:100%;overflow:hidden}.slides{height:100%;overflow:hidden;-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-transition:all 500ms cubic-bezier(0.165,0.840,0.440,1.000);-moz-transition:all 500ms cubic-bezier(0.165,0.840,0.440,1.000);-ms-transition:all 500ms cubic-bezier(0.165,0.840,0.440,1.000);-o-transition:all 500ms cubic-bezier(0.165,0.840,0.440,1.000);transition:all 500ms cubic-bezier(0.165,0.840,0.440,1.000); padding:0; margin:0;}.slide{height:100%;float:left;clear:none}.slider-arrow{position:absolute;display:block;margin-bottom:-20px;width:60px;height:60px;line-height:60px;text-decoration:none;text-align:center;color:#fff;font-size:2em;background-color:#333;background-color:rgba(50,50,50,.3);border-radius:50%}.slider-arrow--right{bottom:50%;right:30px}.slider-arrow--left{bottom:50%;left:30px}.slider-nav{position:absolute;bottom:20px; z-index:98;}.slider-nav__item{width:15px;height:15px;float:left;clear:none;display:block;margin:0 10px;background:#d0d0d0;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%}.slider-nav__item:hover{background:#fcad02}.slider-nav__item--current{background:#fcad02}
.slider-arrow2{position:absolute;display:block;margin-bottom:-20px;width:31px;height:53px;line-height:53px;text-decoration:none;text-align:center;color:#fff;font-size:2em; z-index:999;border-radius:50%}.slider-arrow--right2{bottom:50%;right:30px; }.slider-arrow--left2{bottom:50%;left:30px;}
.slider-nav2{position:absolute;bottom:100px; z-index:99;}.slider-nav__item2{width:18px;height:18px;float:left;clear:none;display:block;margin:0 15px;background:#cccccc;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%}.slider-nav__item2:hover{background:#fff}.slider-nav__item--current2{background:#fff}

/*
| ------------------------------------------
| Spinner styles
| ------------------------------------------
| Here are Spinner styles
| 
*/
.Spinner{display:block;overflow:hidden;width:100px;}
.Spinner .Amount{width:36px;height:17px;padding:4px 5px;line-height:17px;border-width:1px 0;border-style:solid;border-color:#d9d9d9;float:left;text-align:center;color:#565656;outline:0; font-size:14px;}
.Spinner a{display:inline-block;width:25px;height:25px;border:1px solid #d9d9d9;background-color:#f7f7f7;float:left;cursor:pointer;outline:0;}
.Spinner a i{font-style:normal;background:url(../images/BuynBtn.png) no-repeat;display:block;width:9px;height:9px;margin:8px;text-indent:999999%;overflow:hidden;}
.Spinner .Decrease i{background-position:-9px -9px;}
.Spinner .Increase i{background-position:-9px -0px;}
.Spinner .DisDe i{background-position:-0px -9px;}
.Spinner .DisIn i{background-position:-0px -0px;}

