@charset "utf-8";
*{ font-family:"Microsoft Yahei";}
.box-shadow-a5{-webkit-box-shadow:0px 0px 5px #ccc;-moz-box-shadow:0px 0px 5px #ccc;box-shadow:0px 0px 5px #ccc;}
/*背景颜色*/
.bg-red01{ background:#ee2d34;}
.bg-red02{ background:#eb3f3f;}
.bg-red03{ background:#c62121;}
.bg-gray01{ background:#646464;}

/*字体颜色*/
.fc-gray01{ color:#e2e2e2;}
.fc-gray02{ color:#ebebeb;}
.fc-gray03{ color:#c8c8c8;}
.fc-gray04{ color:#767676;}

.bg-img01{ background:url(../images/nav-01.png) no-repeat;}
.bg-img01-1{ background:url(../images/nav-01-1.png) no-repeat;}
.bg-img02{ background:url(../images/nav-02.png) no-repeat;}
.bg-img02-1{ background:url(../images/nav-02-1.png) no-repeat;}
.bg-img03{ background:url(../images/nav-03.png) no-repeat;}
.bg-img03-1{ background:url(../images/nav-03-1.png) no-repeat;}
.bg-img04{ background:url(../images/nav-04.png) no-repeat;}
.bg-img04-1{ background:url(../images/nav-04-1.png) no-repeat;}
.bg-img05{ background:url(../images/nav-05.png) no-repeat;}
.bg-img05-1{ background:url(../images/nav-05-1.png) no-repeat;}
.bg-img06{ background:url(../images/f-08.png) no-repeat;}

.mat8{ margin-top:8px;}
.wb13{ width:13%;}
.wb73{ width:73%;}

.ul-notice{ width:90%; float:right; list-style:circle;}
.ul-notice li{ font-size:1.2em; color:#999; height:25px; line-height:25px; text-align:left;}

.ul-title{ width:95%; margin:0 auto;}
.ul-title li{ width:auto; margin:0 5px; padding:0 5px; float:left;}

.ul-search-tab{ display:inline-block;  line-height:20px; margin-top:10px;}
.ul-search-tab li{ float:left; text-align:center; padding:0 5px; margin:0 5px; height:20px; color:#666; cursor:pointer;}
.ul-search-tab .li-hover{ background:#999; color:#333;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
.ul-search-tab span{ float:left;  text-align:center; color:#666;}

.ul-zoom-page-img{ width:100%;}
.ul-zoom-page-img li{ width:20%; height:70px; float:left; margin:1%;}
.ul-zoom-page-img li img{ width:100%; height:100%;}

.ul-user-menu{ width:100%;}
.ul-user-menu li{ height:35px; line-height:35px; text-align:left; color:#999; font-size:1.2em; width:60%; padding-left:35%; }

.ul-order-step{ width:100%;}
.ul-order-step li{ float:right; width:131px; height:70px; cursor:pointer;}
.ul-order-step .li-hover .li-line{ width:45px; float:left; border-bottom:3px solid #f35a5a; margin-top:18px;}
.ul-order-step .li-hover .li-num{ width:35px; height:35px; line-height:35px; font-size:1.8em; color:#f35a5a; float:left; border:3px solid #f35a5a;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%; text-align:center;}
.ul-order-step .li-hover p{ text-align:center; color:#f35a5a; font-size:1.2em; line-height:40px;}
.ul-order-step li .li-line{ width:45px; float:left; border-bottom:3px solid #c9c8c8; margin-top:18px;}
.ul-order-step li .li-num{ width:35px; height:35px; line-height:35px; font-size:1.8em; color:#c9c8c8; float:left; border:3px solid #c9c8c8;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%; text-align:center;}
.ul-order-step li p{ text-align:center; color:#c9c8c8; font-size:1.2em; line-height:40px;}

.table-cart{ width:90%; margin:0 auto; font-size:1.4em;}
.table-cart thead td{ padding:5px; background:#f0f0f0; height:30px; line-height:30px; text-align:center; }
.table-cart tbody td{ padding:5px; height:30px; line-height:30px; text-align:center; }

.table-service{width:100%;}
.table-service thead td{ padding:5px; background:none; height:30px; line-height:30px; text-align:center; }
.table-service tbody td{ padding:5px; height:30px; line-height:30px; text-align:center; border-collapse:collapse; border:1px solid #e1e1e1; }

.ul-product-title{ width:100%;}
.ul-product-title li{ width:17.5%; height:40px; line-height:40px; text-align:center; color:#999; font-size:1.5em; float:left;  }
.ul-product-title .li-hover{ height:38px; line-height:38px; border-top:2px solid #ed6464; background:#fff; color:#ed6464;}

.ul-review{ width:100%; border-bottom:1px solid #e1e1e1; height:30px;}
.ul-review li{ border-bottom:1px solid #e1e1e1; width:auto; padding:0 10px; margin-right:20px; float:left; font-size:1.3em; height:30px; line-height:30px; color:#666; }
.ul-review .li-hover{ border-bottom:3px solid #f34040; color:#f34040; }

.ul-pay-tab{ width:60%;}
.ul-pay-tab li{ height:40px; line-height:40px; text-align:center; padding:0 20px; float:left; color:#999; font-size:1.6em;}
.ul-pay-tab .li-hover{ border:2px solid #e1e1e1; background:#fff; border-bottom:none; color:#333; font-weight:600; }

.ul-user-tab{ width:100%; height:40px; border-bottom:2px solid #e1e1e1;}
.ul-user-tab li{ height:40px; line-height:40px; text-align:center; padding:0 20px; float:left; color:#999; font-size:1.6em; cursor:pointer;}
.ul-user-tab .li-hover{ border-bottom:2px solid #f87c7c; background:#fff; color:#999; }

.input-check{ width:50%; height:25px; line-height:25px;}

.switch-link{ display:none;}
.switch-hover{ background:#eee;}

.dialog-warpper{ background:rgba(0,0,0,.5); width:100%; height:100%; z-index:99999999; top:0; position:fixed; display:none;}
.dialog-product{ width:550px; display:inline-block; z-index:999999999; position:fixed; bottom:0; top:0; left:0; right:0; left:0; font-size:1.4em; -moz-border-radius:1px;-webkit-border-radius:1px;border-radius:1px; display:none; }

.borc-yellow01{ border-color:#f5e5d0;}
.bgc-yellow01{ background:#fffcee;}
.bgc-gray-2{ background:#f4f4f4;}
.borc-gray-2{ border-color:#dcdcdc;}
.bgc-red01{ background:#f56464;}

.my-active-img{ position:relative;}
.my-active-img .my-text{ display:none; width:100%; height:100%; color:#fff; background:rgba(0,0,0,.5); position:absolute; top:30px; left:0;}
.my-active-img:hover .my-text{ display:block;}


/*
| ------------------------------------------
| Glide styles
| ------------------------------------------
| Here are slider styles
| 
*/
.slider{position:relative;width:100%;height:100%;overflow:hidden}.slides{height:100%;overflow:hidden;-webkit-backface-visibility:hidden;-webkit-transform-style:preserve-3d;-webkit-transition:all 500ms cubic-bezier(0.165,0.840,0.440,1.000);-moz-transition:all 500ms cubic-bezier(0.165,0.840,0.440,1.000);-ms-transition:all 500ms cubic-bezier(0.165,0.840,0.440,1.000);-o-transition:all 500ms cubic-bezier(0.165,0.840,0.440,1.000);transition:all 500ms cubic-bezier(0.165,0.840,0.440,1.000)}.slide{height:100%;float:left;clear:none}.slider-arrow{position:absolute;display:block;margin-bottom:-20px;width:60px;height:60px;line-height:60px;text-decoration:none;text-align:center;color:#fff;font-size:2em;background-color:#333;background-color:rgba(50,50,50,.3);border-radius:50%}.slider-arrow--right{bottom:50%;right:30px}.slider-arrow--left{bottom:50%;left:30px}.slider-nav{position:absolute;bottom:10px}.slider-nav__item{width:12px;height:12px;float:left;clear:none;display:block;margin:0 5px;background:#b9b9b9;-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%}.slider-nav__item:hover{background:#ffc600}.slider-nav__item--current{background:#ffc600}


/*
| ------------------------------------------
| Spinner styles
| ------------------------------------------
| Here are Spinner styles
| 
*/
.Spinner{display:block;overflow:hidden;width:100px;}
.Spinner .Amount{width:36px;height:17px;padding:4px 5px;line-height:17px;border-width:1px 0;border-style:solid;border-color:#d9d9d9;float:left;text-align:center;color:#565656;outline:0; font-size:14px;}
.Spinner a{display:inline-block;width:25px;height:25px;border:1px solid #d9d9d9;background-color:#f7f7f7;float:left;cursor:pointer;outline:0;}
.Spinner a i{font-style:normal;background:url(../images/BuynBtn.png) no-repeat;display:block;width:9px;height:9px;margin:8px;text-indent:999999%;overflow:hidden;}
.Spinner .Decrease i{background-position:-9px -9px;}
.Spinner .Increase i{background-position:-9px -0px;}
.Spinner .DisDe i{background-position:-0px -9px;}
.Spinner .DisIn i{background-position:-0px -0px;}

/* Tables */

	.ui-datepicker-calendar {
		width: 100%;
		border-collapse:collapse;
		border-spacing:0px;
	}
	
	.ui-datepicker-calendar a {
		text-decoration:none;
	}

	.ui-datepicker-calendar th, .ui-datepicker-calendar td {
		border: 1px solid #E0E0E0;
	    padding: 4px 15px;
	}

	.ui-datepicker-calendar thead th {
		border-top: 0;
	}

	.ui-datepicker-calendar tfoot th {
		border-bottom: 0;
	}

	.ui-datepicker-calendar th {
		font-family: Oswald;
		color: #fff;
		font-size: 13px;
		font-weight: normal;
		line-height: 25px;
		background: #f96e6e; /* Old browsers */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #f96e6e 0%, #f14c4c 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f96e6e), color-stop(100%,#f14c4c)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f96e6e 0%,#f14c4c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f96e6e 0%,#f14c4c 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f96e6e 0%,#f14c4c 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f96e6e 0%,#f14c4c 100%); /* W3C */
	}

	.ui-datepicker-calendar td {
		font-family: Droid Sans;
		color: #696969;
		font-size: 14px;
		text-shadow: 0 1px 0 #FFFFFF;
		font-weight: normal;
		line-height: 32px;
	}

	.ui-datepicker-calendar th:first-child, .ui-datepicker-calendar td:first-child {
		border-left-width: 0;
	}

	ui-datepicker-calendar th:last-child, ui-datepicker-calendar td:last-child {
		border-right-width: 0;
	}

	ui-datepicker-calendar tbody tr:last-child td {
		border-bottom-width: 0;
	}

	.ui-datepicker-inline {
		overflow: auto;
	}

	.ui-datepicker, .ui-autocomplete {
		background-color: #FCFCFC;
		border: 1px solid #C9C9C9;
		border-radius:  3px;
		box-shadow: 0 2px 3px #D0D0D0;
		width: auto;
		margin-top: 4px;
		display: none;
	}

	.ui-datepicker a {
		color: inherit;
	}

	.ui-datepicker-header {
		background: #f14c4c; /* Old browsers */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZmRmZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGY4ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #f14c4c 0%, #f96e6e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f14c4c), color-stop(100%,#f96e6e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f14c4c 0%,#f96e6e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f14c4c 0%,#f96e6e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f14c4c 0%,#f96e6e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f14c4c 0%,#f96e6e 100%); /* W3C */
		padding: 0 15px;
		line-height: 46px;
		font-size:1.4em;
	}

	.ui-datepicker-prev {
		float: left;
	}

	.ui-datepicker-next {
		float: right;
	}

	.ui-datepicker-next span, .ui-datepicker-prev span {
		cursor: pointer;
		font-family: Droid Sans;
		color: #fff;
		font-size: 24px;
		height: 16px;
	}

	.ui-datepicker-title {
		text-align: center;
		font-family: Oswald;
		color: #fff;
		font-size: 16px;
		text-shadow: 0 1px 0 #e1e1e1;
	}


	td.ui-datepicker-current-day, a.ui-state-active {
		background-color: #F2F2F2;
	}
	
	td.ui-datepicker-acc-day, a.ui-state-acc {
		background-color: #2faa00;
	}
