@charset "utf-8";
/* CSS Document */

.search{}
.search input[type=text]{ border:none; width:100%; background:none;}
.search input[type=submit]{ border:none; width:100%; background:none; background:#d4003c; color:#fff; font-size:18px; font-weight:600; }
.search-desc{}