<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <!-- 7E css -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/loading.css">
    <!-- Element-UI css -->
    <link rel="stylesheet" href="css/element-ui@1.2.4.css">
    <!-- 7E js -->
    <script src="js/jquery-2.1.4.js"></script>
    <script src="js/vue.js"></script>
    <!-- Element-UI js -->
    <script src="js/element-ui@1.2.4.js"></script>
    <script src="js/vue-component.js"></script>
    <script src="js/base.js"></script>
    <script src="js/interface.js"></script>
    <script src="js/loading.js"></script>
    <!--<script src="js/checkLogin.js"></script>-->

    <title>每日推荐</title>
</head>
<body>

<!--
| ------------------------------------------
| every_list_page
| ------------------------------------------
| Here are every_list_page html
|
-->
<div id="every_list_page">

    <!--<layout-loader :show="showLoader"></layout-loader>-->
    <div class="loader">
        <div class="loader-content">
            <img src="images/loading.gif" alt="Loader" class="loader-loader" />
        </div>
    </div>

    <div class="wb100 every_list_page_content hidden warpper-white">

        <!--<en-header-new :back="true" :home="true" :white="true" :title="'每日推荐'"></en-header-new>-->
        <div class="wb100 h50px relative" style="z-index: 99999;">
            <div style="height: 24px; padding: 13px 15px;">

                <!--<div style="height: 24px; width:24px; float: left;" class="img-area"><img src="images/icon-back1.png"  @click="myBack"></div>-->
                <a href="index.html" class="fr"><div style="height: 24px; width:24px;" class="img-area"><img src="images/icon-home1.png"></div></a>

                <p class="wb70 text-over-hidden1 absolute text-center h50px lh50px F16 Fgray-4" style="top: 0; left: 0; right: 0; margin: 0 auto;">{{title}}</p>
            </div>
        </div>

        <div class="clear"></div>

        <!--<en-everyday-list :datas="list"></en-everyday-list>-->
        <div class=" lh45px F14">
            <div class="wb100" v-for="item in list">
                <p class="pal15 h40px lh40px F14 warpper-gray-3 Fgray-3 Fb">{{item.date}}</p>
                <div class="clear1"></div>
                <div class="pal15">
                    <el-row v-for="(item2,index) in item.datas">
                        <a v-if="item2.newsType == 1" :href="'every_day.html?date='+ item.date2">
                            <div class="wb100">
                                <div class="fl img-area" style="height: 75px; width: 75px;">
                                    <img :src=" item2.iconURL ? item2.iconURL +'?x-oss-process=image/resize,m_fixed,h_150,w_150' : item2.imageURL +'?x-oss-process=image/resize,m_fixed,h_150,w_150'" class="radius5" />
                                </div>
                                <div class="Fgray-3">
                                    <p class="lh35px h35px over-hidden pal15 F14 Fblack">每日一句</p>
                                    <p class="F12 lh20px h40px text-over-hidden2 pal15 par10">{{item2.languageEN}}{{item2.languageCN}}</p>
                                </div>
                            </div>
                            <div class="clear1"></div>
                        </a>

                        <a v-if="item2.newsType == 2" :href="item2.newsUrl">
                            <div class="wb100 bor-gray bor-solid-1t">
                                <el-col :span="22">
                                    <p class="F14 lh45px h45px text-over-hidden1 Fgray-3 par10">
                                        {{item2.languageCN}}
                                    </p>
                                </el-col>
                                <el-col :span="2">
                                    <img src="images/icon-arrow-right.png" class="h15px mat15 fr mar15">
                                </el-col>
                            </div>
                        </a>

                        <a v-if="item2.newsType == 3" :href="'lesson_detail.html?channelID='+item2.newsUrl">
                            <div class="wb100 bor-gray bor-solid-1t">
                                <el-col :span="22">
                                    <p class="F14 lh45px h45px text-over-hidden1 Fgray-3 par10">
                                        {{item2.languageCN}}
                                    </p>
                                </el-col>
                                <el-col :span="2">
                                    <img src="images/icon-arrow-right.png" class="h15px mat15 fr mar15">
                                </el-col>
                            </div>
                        </a>
                    </el-row>
                </div>
            </div>
        </div>

        <div class="clear1"></div>
    </div>

    <!--<en-statistics></en-statistics>-->

</div>

<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?02656d3a262742fe6567cff6f33b6aa7";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>

<script>

    "use strict";

    var vm = new Vue({
        el: "#every_list_page",
        data: {
            showLoader: true,
            list: [],
            title: '每日推荐'
        },
        methods: {
            myBack: function myBack(url) {
                window.history.go(-1);
            }
        },
        created: function created() {
            var _this = this;
            baseAjax.getEveryDayList(function (data) {
                _this.list = data;
                setTimeout(function () {
                    _this.showLoader = false;
                    $(".every_list_page_content").removeClass("hidden");
                }, ajaxConfig.lazy);
            });
        }
    });

    $(function () {
        var isPageHide = false;
        window.addEventListener('pageshow', function () {
            if (isPageHide) {
                var _this = vm;

                baseAjax.getEveryDayList(function (data) {
                    _this.list = data;
                    setTimeout(function () {
                        _this.showLoader = false;
                        $(".every_list_page_content").removeClass("hidden");
                    }, ajaxConfig.lazy);
                });

            }
        });
        window.addEventListener('pagehide', function () {
            isPageHide = true;
        });
    })


</script>

</body>
</html>
