<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />

    <!-- sys css -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/loading.css" rel="stylesheet" media="screen">
    <!-- Element-UI css -->
    <link rel="stylesheet" href="css/element-ui@1.3.3.css">
    <!-- sys js -->
    <script src="js/jquery-2.1.4.js"></script>
    <!--<script src="js/jquery-1.8.3.min.js"></script>-->
    <script src="js/vue.js"></script>
    <!-- Element-UI js -->
    <script src="js/element-ui@1.3.3.js"></script>
    <script src="js/base.js"></script>
    <script src="js/md5_ch.js"></script>
    <script src="js/jquery.rotate.js"></script>
    <script src="js/interface.js"></script>
    <script src="js/loading.js"></script>
    <style>
        .el-carousel__button{ width: 6px; height: 6px; -moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50% }
        .el-carousel__arrow--left{ display: none;}
        .el-carousel__arrow--right{ display: none;}

        .notice-area .el-carousel__button{ display: none;}
        .notice-area .el-carousel__arrow--left{ display: none;}
        .notice-area .el-carousel__arrow--right{ display: none;}

        .warpper-black-2{background: rgba(255,255,255,.1)}
        .bor-gray-6{border-color: #666666}
    </style>
    <title>豹扑体育</title>
</head>
<body>

<!--
| ------------------------------------------
| index_page
| ------------------------------------------
| Here are index_page html
|
-->

<div id="index_page">

    <!--loader-->
    <div class="loader">
        <div class="loader-content">
            <img src="images/loading_1.gif" alt="Loader" class="loader-loader" />
        </div>
    </div>

    <!--领取红包弹窗-->
    <!--<div class="dialogBg" style="z-index: 9999; background: rgba(0,0,0,.7);" v-show="showGetRedBag == true" @click="showGetRedBag = false"></div>-->
    <!--<div class="w270px h250px fixed Fwhite F16 text-center" v-show="showGetRedBag == true" style="top: 0; right: 0; left: 0; bottom: 0; margin: auto; z-index: 9999;">-->
        <!--<img src="images/active-hb.png">-->
        <!--111111111111-->
    <!--</div>-->





    <!--赛事筛选弹窗-->
    <div class="wb100 warpper-gray-3" v-show="showSearch == true" style="position: fixed; width: 100%; height: 100%; z-index: 99; margin: auto; left: 0; right: 0; top: 0; bottom: 0;">

        <div class="wb100">

            <div class="wb100 text-center warpper-white h35px lh35px pat5 pab5 warpper-white Fgray-2 F16">

                <div class="wb20 fl" v-for="(item,key) in searchList" @click="changeSearch(key, item.id)">
                    <span :class="searchKey == key ? 'bor-black bor-solid-3b h30px lh30px Fblack F18' : 'h35px lh35px'" class="display-inline">{{item.val}}</span>
                </div>

            </div>

            <div class="clear"></div>

            <div class="pa15 text-center">
                <el-row :gutter="15">
                    <el-col :span="6" v-for="(item,key) in matchList" class="wb100 mab15">
                        <div class="wb100 h35px lh35px radius5 bor-solid-1a warpper-white relative F14" :class="item.league == currentLeague.league ? 'bor-green' : 'bor-gray'" @click="selectMatch(item)">
                            <img src="images/icon-selected2.png" v-if="item.league == currentLeague.league" class="h20px absolute" style="right: 0; top: 0;">
                            {{item.league}}
                        </div>
                    </el-col>
                </el-row>

                <div class="clear"></div>

            </div>

        </div>

    </div>

    <!--购买成功弹窗-->
    <div class="dialogBg" style="z-index: 9999; background: rgba(0,0,0,.7);" v-show="showBuySuccess == true" @click="showBuySuccess = false"></div>
    <div class="w270px h250px fixed Fwhite F16 text-center" v-show="showBuySuccess == true" style="top: 0; right: 0; left: 0; bottom: 0; margin: auto; z-index: 9999;">
        <img src="images/buy-success.png" class="w130px absolute" style="top: 0; left: 0; right: 0; margin: 0 auto; z-index: 99999; width: 134px;">
        <img src="images/buy-success-shadow.png" class="w270px rotater absolute" style="top: -77px; left: -7px; z-index: 9999;">
        <div class="clear h130px"></div>
        <div class="wb100">
            <p class="F20 lh40px">竞猜成功</p>
            <p class="lh20px">预计收益<span class="Fgreen-2 Fnum">{{ twoDecimal(currentItem.odds * money)}}</span>金币</p>

            <div class="clear h20px"></div>

            <a href="javascript:;" @click="redirect('soccer_result.html?orderID='+orderID)">
                <div class="wb45 fl bor-green2 bor-solid-1a radius4 h40px lh40px text-center Fgreen-2">
                    查看详情
                </div>
            </a>

            <div class="wb45 fr warpper-green-1 pa1 radius4 h40px lh40px Fblack text-center" @click="showBuySuccess = false">
                继续竞猜
            </div>

        </div>
    </div>

    <!--投注弹窗-->
    <div class="dialogBg" style="z-index: 99; background: none;" v-show="payBottom == 0" @click="payBottom = -200"></div>
    <div class="wb100 warpper-black fixed h200px" :style="'transition: all .3s; bottom: '+ payBottom +'px; z-index:999;'">

        <div class="clear1"></div>

        <p class="lh20px pal15 par15 F14 Fgray-2">
            <span class="fl">余额：<span class="Fnum">{{user.coinsQty}}</span>金币</span>
            <span class="fr">猜对可赢<span class="Fnum Fred">{{ twoDecimal(currentItem.odds * money)}}</span>金币</span>
        </p>

        <div class="clear1"></div>

        <div class="pal15 par15">
            <!--<el-input v-model="money" type="tel" placeholder="请输入金额"></el-input>-->
            <el-input-number v-model="money"  :min="1" :max="maxNum"></el-input-number>
        </div>

        <div class="clear1"></div>

        <div class="pal15">
            <div class="wb15 mar5per fl" v-for="(item,key) in moneys">
                <div @click="money = item" class="wb100 h30px lh30px text-center F14 radius5 Fnum" :class="money == item ? 'warpper-green pa1 Fwhite' : 'bor-green bor-solid-1a Fgreen'">
                    {{item}}
                </div>
            </div>
        </div>

        <div class="clear1"></div>

        <div class="pal15 par15">
            <div class="wb100 h40px lh40px warpper-green Fwhite text-center radius5" @click="submitOrder">
                确认竞猜
            </div>
        </div>

        <div class="clear1"></div>
    </div>

    <!--更多菜单弹窗-->
    <div class="dialogBg" style=" background: none;" v-show="showUserMeun == true" @click="showUserMeun = false"></div>
    <div class="w150px absolute lh50px Fwhite F16" v-show="showUserMeun == true" style="top: 50px; right: 0; background: #494949; z-index: 999;">
        <template v-if="login == true">
            <!--<a href="javascript:;" @click="redirect('deal_all.html')">-->
                <!--<p class="Fgray-2 pal15 par15 pat10 lh25px">我的金币</p>-->
                <!--<p class="pal15 par15 Fnum F18 lh30px Fwhite">-->
                    <!--<span class="fl w25px"><img src="images/icon-gold.png" class="fl h16px" style="margin-top: 7px;"></span>-->
                    <!--{{user.coinsQty}}-->
                <!--</p>-->
            <!--</a>-->
            <!--<div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>-->
            <!--<a href="javascript:;" @click="redirect('recharge.html')">-->
                <!--<p class="pal15 par15 Fwhite">-->
                    <!--<span class="fl w25px"><img src="images/icon-menu1.png" class="fl h16px" style="margin-top: 17px;"></span>-->
                    <!--我要充值-->
                <!--</p>-->
            <!--</a>-->
            <div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>
            <a href="javascript:;" @click="redirect('user_ticket_all.html')">
                <p class="pal15 par15 Fwhite">
                    <span class="fl w25px"><img src="images/icon-menu2.png" class="fl h16px" style="margin-top: 17px;"></span>
                    我的竞猜
                </p>
            </a>
            <div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>
            <a href="javascript:;" @click="redirect('user_fav.html')">
                <p class="pal15 par15 Fwhite">
                    <span class="fl w25px"><img src="images/icon-menu7.png" class="fl h16px" style="margin-top: 17px;"></span>
                    我的关注
                </p>
            </a>
            <div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>
            <a href="javascript:;" @click="redirect('user_red_bag.html')">
                <p class="pal15 par15 Fwhite">
                    <span class="fl w25px"><img src="images/icon-menu3.png" class="fl h16px" style="margin-top: 17px;"></span>
                    我的红包
                </p>
            </a>
            <div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>
            <a href="javascript:;" @click="redirect('deal_all.html')">
                <p class="pal15 par15 Fwhite">
                    <span class="fl w25px"><img src="images/icon-menu4.png" class="fl h16px" style="margin-top: 17px;"></span>
                    账户明细
                </p>
            </a>
            <div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>
            <a href="javascript:;" @click="redirect('store.html')">
                <p class="pal15 par15 Fwhite">
                    <span class="fl w25px"><img src="images/icon-menu5.png" class="fl h16px" style="margin-top: 17px;"></span>
                    金币商城
                </p>
            </a>
            <div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>
            <a href="javascript:;" @click="redirect('login.html?call=true&callUrl=index.html')">
                <p class="pal15 par15 Fwhite">
                    <span class="fl w25px"><img src="images/icon-logout.png" class="fl h16px" style="margin-top: 17px;"></span>
                    切换账户
                </p>
            </a>
            <div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>
        </template>
        <template v-if="login == false">

            <!--<a href="login.html?call=true&callUrl=index.html">-->
                <!--<p class="Fgray-2 pal15 par15 pat10 lh25px">我的金币</p>-->
                <!--<p class="pal15 par15 Fnum F18 lh30px Fwhite">-->
                    <!--<span class="fl w25px"><img src="images/icon-gold.png" class="fl h16px" style="margin-top: 7px;"></span>-->
                    <!--{{user.coinsQty}}-->
                <!--</p>-->
            <!--</a>-->
            <!--<div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>-->
            <!--<a href="javascript:;" @click="redirect('recharge.html')">-->
                <!--<p class="pal15 par15 Fwhite">-->
                    <!--<span class="fl w25px"><img src="images/icon-menu1.png" class="fl h16px" style="margin-top: 17px;"></span>-->
                    <!--我要充值-->
                <!--</p>-->
            <!--</a>-->
            <div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>

            <a href="javascript:;" @click="redirect('login.html?call=true&callUrl=deal_all.html')">
                <p class="pal15 par15 Fwhite">
                    <span class="fl w25px"><img src="images/icon-menu2.png" class="fl h16px" style="margin-top: 17px;"></span>
                    我的竞猜
                </p>
            </a>
            <div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>
            <a href="javascript:;" @click="redirect('login.html?call=true&callUrl=user_ticket_all.html')">
                <p class="pal15 par15 Fwhite">
                    <span class="fl w25px"><img src="images/icon-menu4.png" class="fl h16px" style="margin-top: 17px;"></span>
                    我的关注
                </p>
            </a>
            <div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>
            <a href="javascript:;" @click="redirect('login.html?call=true&callUrl=user_red_bag.html')">
                <p class="pal15 par15 Fwhite">
                    <span class="fl w25px"><img src="images/icon-menu3.png" class="fl h16px" style="margin-top: 17px;"></span>
                    我的红包
                </p>
            </a>
            <div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>

            <a href="javascript:;" @click="redirect('deal_all.html')">

                <p class="pal15 par15 Fwhite">
                    <span class="fl w25px"><img src="images/icon-menu4.png" class="fl h16px" style="margin-top: 17px;"></span>
                    账户明细
                </p>
            </a>
            <div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>
            <a href="javascript:;" @click="redirect('store.html')">
                <p class="pal15 par15 Fwhite">
                    <span class="fl w25px"><img src="images/icon-menu5.png" class="fl h16px" style="margin-top: 17px;"></span>
                    金币商城
                </p>
            </a>
            <div class="clear" style="border-bottom: 1px solid #5c5c5c;"></div>
        </template>

    </div>

    <div class="wb100 ">

        <div class="h50px lh50px pal15 relative bor-gray bor-solid-1b warpper-black-1" style="">

            <!--<div class="w50px h50px absolute text-center warpper-white" style="top: 0; left: 0; z-index: 8;">-->
                <!--<img src="images/icon-notice.png" class="w20px h20px fl ma15">-->
            <!--</div>-->

            <a href="javascript:;" @click="redirect('recharge.html')">
                <div class="w170px h30px radius15 warpper-black-2 absolute" style="top:10px">
                    <!--<el-carousel height="50px" :interval="5000">-->
                        <!--<el-carousel-item v-for="item in notice">-->
                            <!--<p class="wb100 lh50px h50px warpper-white">-->
                                <!--恭喜{{item.name}}中奖<span class="Fnum Fred">{{item.gold}}</span>金币-->
                            <!--</p>-->
                        <!--</el-carousel-item>-->
                    <!--</el-carousel>-->
                    <div class="pal10 fl" style="margin-top: -8px">
                        <img src="images/jb_sy.png" class="w15px">
                    </div>
                    <p class="Fwhite h30px lh30px fl mal10 Fnum" style="margin-top: 1px">{{user.coinsQty}}</p>
                    <div class="fr " style="margin-top: -7px;padding-right: 6px">
                        <img src="images/cz_sy.png" class="w18px">
                    </div>
                </div>
            </a>

            <div class="w70px h50px absolute text-center warpper-black-1 bor-gray-6 bor-solid-1l" @click="showUserMeun = !showUserMeun" style="top: 0; right: 0; z-index: 20;">
                <img :src="user.photoUrl ? user.photoUrl : 'images/icon-user4.png'" class="w20px fl mal15 mat15">
                <img src="images/shape_down_gr2.png" class="h8px" v-show="showUserMeun == false">
                <img src="images/shape_up_gr2.png" class="h8px" v-show="showUserMeun == true">
            </div>

        </div>

        <!--<el-carousel :height="_height + 'px'" ref="carousel">-->
            <!--<el-carousel-item v-for="item in banner" :key="item">-->
                <!--<a :href="item.linkUrl" @touchstart="moveStart" @touchend="moveEnd">-->
                    <!--<div class="wb100 img-area" :style="'width:'+_width+'px; height:'+_height+'px;'">-->
                        <!--&lt;!&ndash;<img :src="item.imgUrl + '?x-oss-process=image/resize,m_fixed,h_'+_height * 2 +',w_'+_width * 2" />&ndash;&gt;-->
                        <!--<img :src="item.imgUrl" />-->
                    <!--</div>-->
                <!--</a>-->
            <!--</el-carousel-item>-->
        <!--</el-carousel>-->

        <div class="clear"></div>

        <div class="wb100">

            <div class="pa15 text-center lh25px F14">
                <el-row :gutter="15">
                    <el-col :span="6">
                        <a href="javascript:;" @click="redirect('expert.html')">
                           <div class="wb60 center img-area">
                               <img src="images/icon-nav-new2.png">
                           </div>
                            <p class="Fblack lh18px">达人推荐</p>
                        </a>
                    </el-col>
                    <el-col :span="6">
                        <template v-if="login == false">
                            <a href="javascript:;" @click="redirect('login.html?call=true&callUrl=index.html')">
                                <div class="wb60 center img-area">
                                    <img src="images/icon-nav-new3.png">
                                </div>
                                <p class="Fblack lh18px">我的竞猜</p>
                            </a>
                        </template>
                        <template v-if="login == true">
                            <a href="javascript:;" @click="redirect('user_ticket_all.html')">
                                <div class="wb60 center img-area">
                                    <img src="images/icon-nav-new3.png">
                                </div>
                                <p class="Fblack lh18px">我的竞猜</p>
                            </a>
                        </template>
                    </el-col>
                    <el-col :span="6">
                        <a href="javascript:;" @click="redirect('store.html')">
                            <div class="wb60 center img-area">
                                <img src="images/icon-nav-new4.png">
                            </div>
                            <p class="Fblack lh18px">金币商城</p>
                        </a>
                    </el-col>
                    <el-col :span="6">
                        <a href="javascript:;" @click="redirect('recharge.html')">
                            <div class="wb60 center img-area">
                                <img src="images/icon-nav-new1.png">
                            </div>
                            <p class="Fblack lh18px">我要充值</p>
                        </a>
                    </el-col>
                </el-row>
            </div>

        </div>

        <div class="clear1 warpper-gray-3"></div>

        <!--<div class="wb100">-->
            <!--<div class="h50px lh50px par50 bor-gray bor-solid-1b relative">-->

                <!--<div class="wb100">-->
                    <!--<div class="over-scroll pat5 pab5 scroll-warp">-->
                        <!--<div :style="'width:'+_width2+'px'">-->
                            <!--<p class="F16 h40px lh40px text-over-hidden1 Fgray-2 text-center fl mal15" v-for="(item,key) in hotList" :style="'width:'+_height2+'px'" @click="selectMatch(item)">-->
                                <!--<span :class="item.league == currentLeague.league ? 'bor-black bor-solid-3b h35px lh35px Fblack F18' : 'h40px lh40px'" class="display-inline">{{item.league}}</span>-->
                            <!--</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="w50px absolute" style="top: 0; right: 0;" @click="showSearch = true">-->
                    <!--<img src="images/icon-search.png" class="h20px fr mat15 mar15">-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
        <div class="wb100">
            <div class="wb100 text-center h50px lh50px bor-gray bor-solid-1b Fgray-2">
                <div class="wb495 fl" @click="changeHot(0)">
                    <span :class="leagueCode == 0 ? 'bor-black bor-solid-2b h48px lh48px Fblack F18' : 'h40px lh40px'" class="display-inline">热门赛事</span>
                </div>
                <div class="wb495 fr" @click="changeHot(1)">
                    <span :class="leagueCode == 1 ? 'bor-black bor-solid-2b h48px lh48px Fblack F18' : 'h40px lh40px'" class="display-inline">全部赛事</span>
                </div>

                <!--<div class="over-scroll pat5 pab5 scroll-warp">-->
                    <!--<div :style="'width:'+_width2+'px'">-->
                        <!--<p class="F16 h40px lh40px text-over-hidden1 Fgray-2 text-center fl mal15" v-for="(item,key) in hotList" :style="'width:'+_height2+'px'" @click="selectMatch(item)">-->
                            <!--<span :class="item.league == currentLeague.league ? 'bor-black bor-solid-3b h35px lh35px Fblack F18' : 'h40px lh40px'" class="display-inline">{{item.league}}</span>-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="w50px absolute" style="top: 0; right: 0;" @click="showSearch = true">-->
                <!--<img src="images/icon-search.png" class="h20px fr mat15 mar15">-->
            <!--</div>-->


            </div>
        </div>

        <div class="clear h10px warpper-gray-3"></div>

        <div class="wb100">
            <template v-for="(item,key) in soccerList">
                <div class="wb100">

                    <div class="pa15">

                        <a href="javascript:;" @click="redirect('soccer_detail_bet.html?matchID='+ item.matchID)">
                            <p class="h20px lh20px F12 relative">
                                <span class="fl Fgray-2">
                                    {{item.league}} <span class="Fnum">{{ dateFormat(item.matchTime,16)}}</span>
                                </span>

                                <span class="absolute wb20 text-center h20px lh20px Fgray-2" v-if="item.status == 3" style="left: 0; right: 0; margin: 0 auto;">已完赛</span>
                                <span class="absolute wb20 text-center h20px lh20px Fgray-2" v-if="item.status == 1" style="left: 0; right: 0; margin: 0 auto;">取消</span>
                                <span class="absolute wb20 text-center h20px lh20px Fgray-2" v-if="item.status == 4" style="left: 0; right: 0; margin: 0 auto;">暂定赛事</span>
                                <span class="absolute w80px text-center h20px lh20px Fred F14" v-if="item.status == 2" style="left: 0; right: 0; margin: 0 auto;">

                                    <template v-if="item.matchMinute < 45">
                                        进行中 {{item.matchMinute}}'
                                    </template>
                                    <template v-if="item.matchMinute == 45">
                                        <template v-if="item.matchMinuteExtra == 0">
                                            进行中 45'
                                        </template>
                                        <template v-if="item.matchMinuteExtra != 0">
                                            进行中 45+'
                                        </template>
                                    </template>

                                    <template v-if="item.matchMinute > 45 && item.matchMinute < 90">
                                        进行中 {{item.matchMinute}}'
                                    </template>

                                    <template v-if="item.matchMinute == 90">
                                        <template v-if="item.matchMinuteExtra == 0">
                                            进行中 90'
                                        </template>
                                        <template v-if="item.matchMinuteExtra != 0">
                                            进行中 90+'
                                        </template>
                                    </template>

                                </span>

                                <span class="absolute wb20 text-center h20px lh20px Fgray-2" v-if="item.status == 0 && item.frost" style="left: 0; right: 0; margin: 0 auto;">
                                    封盘中
                                </span>

                                <!--暂时取消-->
                                <span class="fr Fgray-2">
                                   <!--<span class="Fnum Fgreen">{{item.viewCount}}</span> 人在竞猜-->
                                     <img src="images/arrow-right.png" class="fr h14px mal5" style="margin-top: 3px;">
                                </span>
                            </p>

                            <div class="clear1"></div>

                            <div class="wb40 fl Fblack">
                                <p class="lh30px F18 ">
                                    <img :src="item.homeTeamLogo" class="h30px w30px fl">
                                    <span class="F16 fl mal5 ">{{cutStrForNum(item.homeTeam,5)}}</span>
                                </p>
                            </div>

                            <!--<div class="wb20 fl text-center" style="margin-top: 3px;">-->
                                <!--<img src="images/icon-liked.png" v-if="item.isFaved" @click="favMatch(item,'cal')" class="h22px">-->
                                <!--<img src="images/icon-like.png" v-else @click="favMatch(item,'fav')" class="h22px">-->
                            <!--</div>-->
                            <div class="wb20 fl text-center Fgray-3" v-if="item.status == 0">
                               <img src="images/icon-vs2.png" class="h18px" style="margin-top: 6px;">
                            </div>

                            <div class="wb20 fl text-center Fblack lh30px Fnum F18" v-if="item.status == 3">
                                <p>{{item.hFullGoals}} : {{item.vFullGoals}}</p>
                            </div>

                            <div class="wb20 fl text-center Fred lh30px Fnum F18" v-if="item.status == 2">
                                <p>{{item.hFullGoals}} : {{item.vFullGoals}}</p>
                            </div>

                            <div class="wb40 fl text-center Fblack">
                                <p class="lh30px F18 ">
                                    <img :src="item.visitingTeamLogo" class="h30px w30px fr">
                                    <span class="F16 fr mar5">{{cutStrForNum(item.visitingTeam,5)}}</span>
                                </p>
                            </div>
                        </a>

                        <template v-for="(item2,key2) in item.rateList" v-if="item.status == 0 && item.frost == false">

                            <div class="clear1" v-if="key2 == 0"></div>

                            <!--胜平负-->
                            <div class="pal20 relative h40px lh40px text-center bor-gray bor-solid-1a relative" style="z-index: 99;" v-if="item2.isLetBall == false">

                                <div class="h40px lh40px text-center warpper-gray-2 w20px absolute Fwhite Fnum" style="top: 0; left: 0;">
                                    0
                                </div>

                                <div class="wb33333 fl" @click="selectSoccer('win', 'norm', item2, item)">
                                    <div class="wb100 warpper-green h40px lh40px Fwhite" v-if="item2.selected == 1">
                                        <span>主胜</span> <span class="Fnum">{{item2.win}}</span>
                                    </div>
                                    <div class="wb100 " v-else>
                                        主胜 <span class="Fnum Fgreen">{{item2.win}}</span>
                                    </div>
                                </div>

                                <div class="wb33333 fl" @click="selectSoccer('tie', 'norm', item2, item)">
                                    <div class="wb100 bor-gray bor-solid-1l bor-solid-1r">
                                        <div class="wb100 warpper-green h40px lh40px Fwhite" v-if="item2.selected == 2">
                                            <span>平</span> <span class="Fnum">{{item2.tie}}</span>
                                        </div>
                                        <div class="wb100 " v-else>
                                            平 <span class="Fnum Fgreen">{{item2.tie}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="wb33333 fl" @click="selectSoccer('lose', 'norm', item2, item)">
                                    <div class="wb100 warpper-green h40px lh40px Fwhite" v-if="item2.selected == 3">
                                        <span>客胜</span> <span class="Fnum">{{item2.lose}}</span>
                                    </div>
                                    <div class="wb100 " v-else>
                                        客胜 <span class="Fnum Fgreen">{{item2.lose}}</span>
                                    </div>
                                </div>

                            </div>

                            <!--让球胜平负-->
                            <div class="pal20 relative h40px lh40px text-center bor-gray bor-solid-1l bor-solid-1r bor-solid-1b relative" style="z-index: 99;" v-if="item2.isLetBall == true">

                                <div class="text-center warpper-red absolute Fwhite F14 Fnum" v-if="item2.letBall>0" style="top: -1px; height: 41px; line-height: 41px; left: 0px; width: 20px;">
                                    +{{item2.letBall}}
                                </div>
                                <div class="text-center warpper-gray-2 absolute Fwhite Fnum" v-if="item2.letBall==0" style="top: -1px; height: 41px; line-height: 41px; left: 0px; width: 20px;">
                                    {{item2.letBall}}
                                </div>
                                <div class="text-center warpper-blue absolute Fwhite Fnum" v-if="item2.letBall<0" style="top: -1px; height: 41px; line-height: 41px; left: 0px; width: 20px;">
                                    {{item2.letBall}}
                                </div>

                                <div class="wb33333 fl" @click="selectSoccer('win', 'concede', item2, item)">
                                    <div class="wb100 warpper-green h40px lh40px Fwhite" v-if="item2.selected == 1">
                                        <span>主胜</span> <span class="Fnum">{{item2.win}}</span>
                                    </div>
                                    <div class="wb100 " v-else>
                                        主胜 <span class="Fnum Fgreen">{{item2.win}}</span>
                                    </div>
                                </div>

                                <div class="wb33333 fl" @click="selectSoccer('tie', 'concede', item2, item)">
                                    <div class="wb100 bor-gray bor-solid-1l bor-solid-1r">
                                        <div class="wb100 warpper-green h40px lh40px Fwhite" v-if="item2.selected == 2">
                                            <span>平</span> <span class="Fnum">{{item2.tie}}</span>
                                        </div>
                                        <div class="wb100 " v-else>
                                            平 <span class="Fnum Fgreen">{{item2.tie}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="wb33333 fl" @click="selectSoccer('lose', 'concede', item2, item)">
                                    <div class="wb100 warpper-green h40px lh40px Fwhite" v-if="item2.selected == 3">
                                        <span>客胜</span> <span class="Fnum">{{item2.lose}}</span>
                                    </div>
                                    <div class="wb100 " v-else>
                                        客胜 <span class="Fnum Fgreen">{{item2.lose}}</span>
                                    </div>
                                </div>

                            </div>

                        </template>

                        <div class="clear"></div>

                    </div>

                </div>

                <div class="clear h10px warpper-gray-3" v-if="key < totleCount - 1"></div>

            </template>

            <div class="clear1"></div>

            <div class="text-center Fgray-3 h20px lh20px center w120px F14 mab15" v-show="loading">
                <img src="images/loading-2.gif" v-show="!last" class="h20px fl">
                <span class="fl mal10">{{loadtext}}</span>
            </div>
        </div>

    </div>

    <template v-if="payBottom == 0">
        <div class="clear h200px"></div>
    </template>

</div>

<script>


    "use strict";

    var vm = new Vue({
        el: "#index_page",
        data: {
            fullscreenLoading: true,
            _width: 0,
            _width2: 0,
            _height: 0,
            _height2: 0,
            startX: 0,
            endX: 0,
            active: 1,
            searchKey: 0,
            leagueType: 0,
            leagueCode: 0,
            rotateTimer: 0,
            angle: 0,
            showUserMeun: false,
            showGetRedBag: true,
            showBuySuccess: false,
            login: false,
            loading: true,
            loadtext: '数据加载中...',
            empty: false,
            last: false,
            currentLeague: {
                country: "热门",
                isHot: true,
                league: "热门",
                leagueID: 0,
                leagueLogo: '',
                region: '',
                regionCode: ''
            },
            searchList: [{
                val: '热门',
                id: ''
            }, {
                val: '欧洲',
                id: 'oz'
            }, {
                val: '美洲',
                id: 'mz'
            }, {
                val: '亚洲',
                id: 'yz'
            }, {
                val: '国际',
                id: 'gj'
            }],
            showSearch: false,
            payBottom: -200,
            orderID: '',
            page: 1,
            pageSize: 20,
            totleCount: 0,
            money: 50,
            redBagList: 0,
            moneys: [20, 50, 100, 200, 500],
            currentItem: {},
            user: {
                photoUrl: '',
                coinsQty: 0
            },
            notice: [{
                name: '张二狗',
                gold: 200
            }, {
                name: '张三狗',
                gold: 200
            }, {
                name: '张四狗',
                gold: 200
            }, {
                name: '张五狗',
                gold: 200
            }],
            banner: [{
                "imageURL": "images/banner2.png"
            }],
            currentSelect: {},
            soccerList: [],
            hotList: [],
            matchList: [],
            favDisabled: false,
            maxNum:1000
        },
        methods: {
            moveStart: function moveStart(e) {
                var _this = this;
                _this.startX = e.changedTouches[0].clientX || e.changedTouches[0].pageX;
            },
            moveEnd: function moveEnd(e) {
                var _this = this;
                _this.endX = e.changedTouches[0].clientX || e.changedTouches[0].pageX;
                var _result = _this.startX - _this.endX;

                if (_result >= 50) {
                    this.$refs.carousel.next();
                }
                if (_result < -50) {
                    this.$refs.carousel.prev();
                }
            },
            redirect : function redirect(url) {
                window.location.href = url;
            },
            dateFormat: function timeFormat(date, index) {
                return date.substring(5, index);
            },

            changeSearch: function changeSearch(key, id) {
                var _this = this;

                _this.searchKey = key;

                _this.leagueCode = id;
                //
                //            _this.getLeagueList();
            },

            changeHot: function changeHot(key) {
                this.soccerList = [];
                this.leagueCode = key;
                this.page = 1;
                this.pageSize = 20;
                this.last = false;
                this.empty = false;
                this.loadtext = '数据加载中...';
                this.getData();
            },

            twoDecimal: function twoDecimal(x) {
                var f = parseFloat(x);
                if (isNaN(f)) {
                    return false;
                }
                var f = Math.round(x * 100) / 100;
                var s = f.toString();
                var rs = s.indexOf('.');
                if (rs < 0) {
                    rs = s.length;
                    s += '.';
                }
                while (s.length <= rs + 2) {
                    s += '0';
                }
                return s;
            },

            selectMatch: function selectMatch(item) {

                var _this = this;

                _this.currentLeague = item;

                //热门
                if (_this.searchKey == 0) {

                    // 移动到指定位置

                    var index = 0;

                    for (var i = 0; i < _this.hotList.length; i++) {
                        if (_this.hotList[i].league == item.league) {
                            index = i;
                            break;
                        }
                    }

                    if (index > 3) {
                        //移动到指定位置
                        $('.scroll-warp').scrollLeft((_this._height2 + 15) * (index - 2));
                    } else {
                        $('.scroll-warp').scrollLeft(0);
                    }
                } else {
                    //非热门

                    //判断是否重复

                    $('.scroll-warp').scrollLeft(0);
                    _this.hotList.splice(1, 1, item);
                }

                _this.leagueType = item.leagueID;

                _this.getMatchList();

                _this.showSearch = false;
            },

            selectSoccer: function selectSoccer(val, type, item, match) {

                var _this = this;

                var _tmp = 0;

                var odd = 0;

                for (var i = 0; i < _this.soccerList.length; i++) {
                    for (var j = 0; j < _this.soccerList[i].rateList.length; j++) {
                        if( _this.soccerList[i].rateList[j].selected != 0){
                            _tmp = _this.soccerList[i];

                        }
                        _this.soccerList[i].rateList[j].selected = 0;
                    }
                }

                if (val == 'win') {
                    item.selected = 1;
                    odd = item.win;
                }
                if (val == 'tie') {
                    item.selected = 2;
                    odd = item.tie;
                }
                if (val == 'lose') {
                    item.selected = 3;
                    odd = item.lose;
                }

//                if(match.matchID == _tmp.matchID && item.selected == _tmp.selected){
//                    console.log(true);
//                }

                var _type = '';

                if (type == 'concede') {
                    _type = 1;
                } else {
                    _type = 0;
                }

                if(!base.isNull(_this.currentSelect.rateList)){

                    if(((_this.currentSelect.rateList[0].selected == match.rateList[0].selected && match.rateList[0].selected + _this.currentSelect.rateList[0].selected != 0 )|| (_this.currentSelect.rateList[1].selected == match.rateList[1].selected && _this.currentSelect.rateList[1].selected + match.rateList[1].selected != 0)) && _this.currentSelect.matchID == match.matchID){
                        //-反选
                        item.selected = 0;

                        _this.payBottom = -200;
                    }else{
                        _this.payBottom = 0;
                    }
                }else{
                    _this.payBottom = 0;
                }

                _this.currentItem = {
                    title: match.homeTeam + ' VS ' + match.visitingTeam,
                    matchID: match.matchID,
                    lotType: _type,
                    val: item.selected - 1,
                    odds: odd
                };

                _this.currentSelect = JSON.parse(JSON.stringify(match));


            },

            cutStrForNum: function cutStrForNum(str, num) {
                if (str.length > num) {
                    return str.substring(0, num) + '...';
                } else {
                    return str;
                }
            },

            stringToDate: function stringToDate(dateString) {

                if (dateString) {
                    var arr1 = dateString.split(" ");
                    var sdate = arr1[0].split('-');
                    var sdate2 = arr1[1].split(':');
                    var date = new Date(sdate[0], sdate[1]-1, sdate[2], sdate2[0], sdate2[1], sdate2[2]);
                    return date;
                }
            },

            favMatch: function favMatch(item, type) {

                if (type == 'fav') {
                    //关注

                    baseAjax.foucsMatch(item.matchID, function (data) {
                        if (data) {
                            console.log(data);
                            item.isFaved = true;
                        }
                    });
                }
                if (type == 'cal') {
                    //取消关注
                    baseAjax.cancelFoucsMatch(item.matchID, function (data) {
                        if (data) {
                            console.log(data);
                            item.isFaved = false;
                        }
                    });
                }
            },

            submitOrder: function submitOrder() {
                //获取当前选择的场次类型
                var _this = this;

                if(_this.favDisabled)
                    return;


                //判断金额


                var _ttt = _this.money + '';

                if(_ttt.indexOf('.')!=-1){
                    _this.$message({
                        type: 'error',
                        message: '投注金额需为整数',
                        duration: 1500
                    });

                    _this.favDisabled = true;

                    setTimeout(function(){
                        _this.favDisabled = false;
                    },1500);

                    return false;
                }

                //判断用户登录状态
                var _user = base.getCookie('userInfo');

                if (base.isNull(_user)) {
                    //前去登录
                    var myUrl = "pay.html?title=" + _this.currentItem.title + '&money=' + _this.money + '&odds=' + _this.currentItem.odds + '&lotType=' + _this.currentItem.lotType + '&val=' + _this.currentItem.val + '&matchID=' + _this.currentItem.matchID;
                    window.location.href = 'login.html?call=true&callUrl=' + myUrl;
                    return false;
                }

                //判断余额
                if (_this.user.coinsQty < _this.money) {
                    //跳转到支付页面
                    window.location.href = "pay.html?title=" + _this.currentItem.title + '&money=' + _this.money + '&odds=' + _this.currentItem.odds + '&lotType=' + _this.currentItem.lotType + '&val=' + _this.currentItem.val + '&matchID=' + _this.currentItem.matchID;
                    return false;
                }

                //判断可用红包
                baseAjax.usableCouponList(_this.money, function (data2) {

                    if(data2){
                        if(data2.returnJSON.length > 0 ){
                            window.location.href = "pay.html?title=" + _this.currentItem.title + '&money=' + _this.money + '&odds=' + _this.currentItem.odds + '&lotType=' + _this.currentItem.lotType + '&val=' + _this.currentItem.val + '&matchID=' + _this.currentItem.matchID;
                            return false;
                        }else{
                            //matchID, lotType, anteValue, couponNumber, money,
                            baseAjax.payMatch(_this.currentItem.matchID, _this.currentItem.lotType, _this.currentItem.val, '', _this.money, function (data, errorMsg) {
                                if (data) {

                                    _this.showBuySuccess = true;

                                    _this.orderID = data.returnJSON.orderID;

                                    _this.rotation();

                                    //更新用户
                                    baseAjax.userInfo(function (user) {
                                        _this.user = user.returnJSON;
                                    });
                                } else {
                                    _this.$message({
                                        type: 'error',
                                        message: errorMsg,
                                        duration: 1500
                                    });

                                    _this.favDisabled = true;

                                    setTimeout(function(){
                                        _this.favDisabled = false;
                                    },1500);

                                }

                                _this.payBottom = -200;
                            });
                        }
                    }else{
                        //matchID, lotType, anteValue, couponNumber, money,
                        baseAjax.payMatch(_this.currentItem.matchID, _this.currentItem.lotType, _this.currentItem.val, '', _this.money, function (data, errorMsg) {
                            if (data) {

                                _this.showBuySuccess = true;

                                _this.orderID = data.returnJSON.orderID;

                                _this.rotation();

                                //更新用户
                                baseAjax.userInfo(function (user) {
                                    _this.user = user.returnJSON;
                                });
                            } else {
                                _this.$message({
                                    type: 'error',
                                    message: errorMsg,
                                    duration: 1500
                                });

                                _this.favDisabled = true;

                                setTimeout(function(){
                                    _this.favDisabled = false;
                                },1500);

                            }

                            _this.payBottom = -200;
                        });
                    }
                })

            },

            rotation: function rotation(){
                var _this = this;
                window.clearInterval(_this.rotateTimer);
                _this.rotateTimer = setInterval(function(){
                    _this.angle += 3;
                    $(".rotater").rotate(_this.angle);
                },50);

            },

            getData: function getData() {
                var _this = this;

                if(_this.last)
                    return ;

                baseAjax.matchListByHot(_this.page, _this.pageSize, _this.leagueCode, function (data) {

                    if (data) {

                        var _tmp = data.returnJSON.indexData;

                        _this.totleCount = data.returnJSON.totalResult;

                        console.log(_this.totleCount)

                        for(var i=0; i<_tmp.length; i++){
                            //判断比赛是否开始
                            var _now = new Date().getTime();

                            var _timer = Math.round((_this.stringToDate(_tmp[i].matchTime).getTime() - _now) / 1000) - 300;

//                            console.log(_this.stringToDate(_tmp[i].matchTime).getTime());

                            if(_timer< 0){
                                //封盘中
                                _tmp[i].frost = true;
                            }else{
                                _tmp[i].frost = false;
                            }
                        }

                        _this.soccerList = _this.soccerList.concat(_tmp);

                        if (_tmp.length == 0 || _tmp.length < _this.pageSize) {
                            if (_this.page == 1) {
                                _this.loading = false;
                                _this.last = true;
                                _this.loadtext = '暂无更多数据';
                            } else {
                                _this.loading = true;
                                _this.last = true;
                                _this.loadtext = '暂无更多数据';
                                return false;
                            }
                        }


                        if (data.returnJSON.indexData.length == 0) {
                            _this.empty = true;
                        } else {
                            _this.empty = false;
                        }
                    }
                });
            }

        },
        created: function created() {

            var _this = this;

            _this.showUserMeun = false;
            _this.showBuySuccess = false;

            _this.showSearch = false;
            _this.width = $(window).width();
            _this.height = $(window).height();
            _this._width = parseInt($(window).width());
            _this._height = parseInt(_this._width * 0.32);

            _this._height2 = Math.ceil(($(window).width() - 50) / 6);

            _this._width2 = 0;

            _this.payBottom = -200;
            _this.orderID = '';
            _this.money = 50;
            _this.redBagList = 0;
            _this.currentItem = {};

            //- 判断登录
            baseAjax.userInfo(function (data) {
                var _user = data.returnJSON;

                if (base.isNull(_user)) {
                    //- 未登录
                    _this.login = false;
                } else {
                    _this.user = _user;
                    _this.login = true;
                }
            });

            //获取banner

            baseAjax.bannerList(function (data) {
                _this.banner = data.returnJSON;
            });

            $(window).scroll(function () {
                if (_this.empty) return false;
                var scrollTop = $(window).scrollTop();
                var scrollHeight = $(document).height();
                var windowHeight = $(window).height();
                if (scrollTop + windowHeight == scrollHeight) {
                    _this.page++;
                    _this.getData();
                }
            });

            _this.changeHot(0);

            //test code

            var autoBuy = base.getParmar('buyTicket');

            if(!base.isNull(autoBuy)){

                var tempTicket = base.getCookie('tempTicket');

                if(base.isNull(tempTicket)){
                    return false;
                }

                tempTicket = JSON.parse(tempTicket);

                _this.currentItem.odds = tempTicket.odds;
                _this.currentItem.money = tempTicket.money;
                _this.money = tempTicket.money;
                _this.currentItem.lotType = tempTicket.lotType;
                _this.currentItem.val = tempTicket.val;

                //matchID, lotType, anteValue, couponNumber, money,
                baseAjax.payMatch(tempTicket.matchID, tempTicket.lotType, tempTicket.val, '', tempTicket.money, function (data, errorMsg) {
                    if (data) {

                        _this.showBuySuccess = true;

                        _this.orderID = data.returnJSON.orderID;

                        _this.rotation();

                        //更新用户
                        baseAjax.userInfo(function (user) {
                            _this.user = user.returnJSON;
                        });

                        base.setCookie('tempTicket',null);
                    } else {
                        _this.$message({
                            type: 'error',
                            message: errorMsg,
                            duration: 1500
                        });

                        base.setCookie('tempTicket',null);
                    }

                    _this.payBottom = -200;
                });
            }

        }
    });

    $(function () {
        var isPageHide = false;
        window.addEventListener('pageshow', function () {
            if (isPageHide) {

                var _this = vm;

                _this.showUserMeun = false;
                _this.showBuySuccess = false;

                _this.showSearch = false;
                _this.width = $(window).width();
                _this.height = $(window).height();
                _this._width = parseInt($(window).width());
                _this._height = parseInt(_this._width * 0.32);

                _this._height2 = Math.ceil(($(window).width() - 50) / 6);

                _this._width2 = 0;

                _this.payBottom = -200;
                _this.orderID = '';
                _this.money = 50;
                _this.redBagList = 0;
                _this.currentItem = {};

                //- 判断登录
                baseAjax.userInfo(function (data) {
                    var _user = data.returnJSON;

                    if (base.isNull(_user)) {
                        //- 未登录
                        _this.login = false;
                    } else {
                        _this.user = _user;
                        _this.login = true;
                    }
                });

                //获取banner

                baseAjax.bannerList(function (data) {
                    _this.banner = data.returnJSON;
                });

                $(window).scroll(function () {
                    if (_this.empty) return false;
                    var scrollTop = $(window).scrollTop();
                    var scrollHeight = $(document).height();
                    var windowHeight = $(window).height();
                    if (scrollTop + windowHeight == scrollHeight) {
                        _this.page++;
                        _this.getData();
                    }
                });

                _this.changeHot(0);

                var autoBuy = base.getParmar('buyTicket');

                if(!base.isNull(autoBuy)){

                    var tempTicket = base.getCookie('tempTicket');

                    if(base.isNull(tempTicket)){
                        return false;
                    }

                    tempTicket = JSON.parse(tempTicket);

                    _this.currentItem.odds = tempTicket.odds;

                    //matchID, lotType, anteValue, couponNumber, money,
                    baseAjax.payMatch(tempTicket.matchID, tempTicket.lotType, tempTicket.val, '', tempTicket.money, function (data, errorMsg) {
                        if (data) {

                            _this.showBuySuccess = true;

                            _this.orderID = data.returnJSON.orderID;

                            _this.rotation();

                            //更新用户
                            baseAjax.userInfo(function (user) {
                                _this.user = user.returnJSON;
                            });

                            base.setCookie('tempTicket',null);
                        } else {
                            _this.$message({
                                type: 'error',
                                message: errorMsg,
                                duration: 1500
                            });

                            base.setCookie('tempTicket',null);
                        }

                        _this.payBottom = -200;
                    });
                }
            }
        });
        window.addEventListener('pagehide', function () {
            isPageHide = true;
        });
    });
</script>

</body>
</html>
