<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <!-- sys css -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/loading.css" rel="stylesheet" media="screen">
    <!-- Element-UI css -->
    <link rel="stylesheet" href="css/element-ui@1.3.3.css">

    <style>
        .el-carousel__button{ width: 6px; height: 6px; -moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50% }
        .el-carousel__arrow--left{ display: none;}
        .el-carousel__arrow--right{ display: none;}
    </style>
    <title>达人推荐</title>
</head>
<body class="warpper-black-4">

<!--
| ------------------------------------------
| expert_page
| ------------------------------------------
| Here are expert_page html
|
-->

<div id="expert_page">

    <!--loader-->
    <div class="loader">
        <div class="loader-content">
            <img src="images/loading_1.gif" alt="Loader" class="loader-loader wb15"/>
            <div class="clear h40px"></div>
            <p class="text-center" style="color: #999999 ">正在加载中...</p>
        </div>
    </div>

    <div class="wb100">

        <!--<el-carousel :height="_height + 'px'" ref="carousel">-->
            <!--<el-carousel-item v-for="item in banner" :key="item">-->
                <!--<a href="javascript:;" @touchstart="moveStart" @touchend="moveEnd">-->
                    <!--<div class="wb100 img-area" :style="'width:'+_width+'px; height:'+_height+'px;'">-->
                        <!--<img :src="item.imageURL + '?x-oss-process=image/resize,m_fixed,h_'+_height * 2 +',w_'+_width * 2" />-->
                    <!--</div>-->
                <!--</a>-->
            <!--</el-carousel-item>-->
        <!--</el-carousel>-->


        <!--<div class="wb100 warpper-white">-->
            <!--<div class="clear1"></div>-->
            <!--<template v-for="(item,key) in matchList">-->

                <!--<div class="wb100" v-if="key<3">-->

                    <!--<a href="javascript:;" @click="redirect('expert_detail.html?newsUserID='+item.uuid)">-->
                        <!--<div class="pal15 relative Fgray-3" style="padding-left: 70px; padding-right: 70px;">-->
                            <!--<div class="w50px h50px absolute" style="top: 0; left: 15px;">-->
                                <!--<img :src="item.photoUrl ? item.photoUrl : 'images/head-img1.png'" class="w50px h50px radius50per">-->
                            <!--</div>-->
                            <!--<div class="wb100 h50px">-->
                                <!--<p class="lh30px">-->
                                    <!--<span class="fl mar5">{{item.nickName}}</span>-->
                                    <!--<span class="Fwhite warpper-tip-red F12 pal5 par5 h16px lh16px display-inline radius5 text-center fl mal5" v-if="item.lotTypeDesc == '胜平负'" style="margin-top: 7px;">{{item.lotTypeDesc}}</span>-->
                                    <!--<span class="Fwhite warpper-tip-blue F12 pal5 par5 h16px lh16px display-inline radius5 text-center fl mal5" v-if="item.lotTypeDesc == '让胜平负'" style="margin-top: 7px;">{{item.lotTypeDesc}}</span>-->
                                    <!--<span class="Fwhite warpper-tip-green F12 pal5 par5 h16px lh16px display-inline radius5 text-center fl mal5" v-if="item.lotTypeDesc == '进球数'" style="margin-top: 7px;">{{item.lotTypeDesc}}</span>-->
                                    <!--<span class="Fwhite warpper-tip-orange-2 F12 pal5 par5 h16px lh16px display-inline radius5 text-center fl mal5" v-if="item.lotTypeDesc == '比分'" style="margin-top: 7px;">{{item.lotTypeDesc}}</span>-->
                                <!--</p>-->
                                <!--<div class="clear"></div>-->
                                <!--&lt;!&ndash;计算标签&ndash;&gt;-->
                                <!--<p class="F12 text-center  mab5" style="margin-top: 2px">-->

                                    <!--<span class="bor-red bor-solid-1a h16px lh16px pal5 par5 Fred fl mar5 radius5" v-if="item.tenDaysCount >= 6">近10中{{item.tenDaysCount}}</span>-->

                                    <!--<span class="bor-red bor-solid-1a h16px lh16px pal5 par5 Fred fl mar5 radius5" v-if="item.successionCount >= 2">{{item.successionCount}}连红</span>-->

                                    <!--<span class="bor-red bor-solid-1a h16px lh16px pal5 par5 Fred fl mar5 radius5" v-if="item.monthCount >= 1">月红{{item.monthCount}}单</span>-->

                                <!--</p>-->

                                <!--<div class="clear"></div>-->

                            <!--</div>-->

                            <!--<template v-if="item.result == 0">-->
                                <!--<div class="w65px absolute text-center Fred" style="top: 10px; right: 30px;">-->
                                    <!--<p class="Fnum F26 lh15px">{{parseInt(item.lossRatio * 100)}}<span class="F12">%</span></p>-->
                                    <!--<p class="F12 lh15px">预计回报率</p>-->
                                <!--</div>-->
                            <!--</template>-->

                            <!--<template v-if="item.result == 1">-->
                                <!--<div class="w65px absolute text-center Fred" style="top: 0; right: 35px;">-->
                                    <!--<img src="images/mz_wdgz.png" class="w50px">-->
                                <!--</div>-->
                            <!--</template>-->

                            <!--<template v-if="item.result == 2">-->
                                <!--<div class="w65px absolute text-center Fred" style="top: 0; right: 35px;">-->
                                    <!--<img src="images/wz_wdgz.png" class="w50px">-->
                                <!--</div>-->
                            <!--</template>-->

                            <!--<div class="clear"></div>-->
                        <!--</div>-->
                    <!--</a>-->

                    <!--<a href="javascript:;" @click="redirect('expert_recommend.html?newsID='+item.newsID)">-->

                        <!--<div class="clear"></div>-->

                        <!--<div class="pal15 par15 pat15 Fgray-3">-->
                            <!--<div class="warpper-gray-3 lh25px h50px pal15 par15 pat10 pab10 relative" style="padding-right: 80px">-->
                                <!--<p class="Fgray-2 F14">{{item.league}} <span class="Fnum">{{item.matchTime}}</span></p>-->
                                <!--<p class="h25px lh25px text-over-hidden1 wb100">{{item.title}}</p>-->

                                <!--<div class="w60px h35px lh35px absolute text-center bor-green bor-solid-1a Fgreen radius4" style="right: 15px; bottom: 16px;">-->
                                    <!--免费-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="clear"></div>-->

                        <!--<p class="lh30px pal15 par15 F12 Fgray-2">-->
                            <!--<span class="fl">发布于 <span class="Fnum">{{item.postedTime}}</span></span>-->

                            <!--<span class="fr Fnum"><img src="images/icon-view.png"> {{item.hits}}</span>-->
                        <!--</p>-->

                        <!--<div class="pal15">-->
                            <!--<div class="clear bor-gray bor-solid-1b"></div>-->
                        <!--</div>-->
                    <!--</a>-->

                    <!--<div class="clear1"></div>-->
                <!--</div>-->


            <!--</template>-->
        <!--</div>-->

        <!--<div class="clear1"></div>-->

        <!--<div class="wb100">-->

            <!--<div class="pal15">-->
                <!--<p class="bor-green bor-solid-4l h18px lh18px pal5">-->
                    <!--达人榜-->
                <!--</p>-->
            <!--</div>-->

            <!--<div class="pa15 over-scroll">-->
                <!--<div :style="'width:'+_width2+'px'">-->
                    <!--<div class="warpper-white box-shadow-gray3 radius5 fl mar15" v-for="item in expertList" :style="'width:'+_height2+'px'">-->

                        <!--<a :href="'expert_detail.html?newsUserID='+item.uuid">-->
                            <!--<div class="pa10 text-center Fgray-3">-->

                            <!--<div class="wb50 center img-area radius50per over-hidden">-->
                                <!--<img :src="item.photoUrl ? item.photoUrl : 'images/head-img1.png'">-->
                            <!--</div>-->

                            <!--<p class="text-over-hidden1">{{item.nickName}}</p>-->

                            <!--&lt;!&ndash;计算标签&ndash;&gt;-->
                            <!--<p class="F12 text-center mat5 mab5">-->

                                <!--<span class="bor-red bor-solid-1a h18px lh18px pal5 par5 Fred fl mar5 radius5" v-if="item.tenDaysCount >= 6">近10中{{item.tenDaysCount}}</span>-->

                                <!--<span class="bor-red bor-solid-1a h18px lh18px pal5 par5 Fred fl mar5 radius5" v-if="item.successionCount >= 2">{{item.successionCount}}连红</span>-->

                                <!--<span class="bor-red bor-solid-1a h18px lh18px pal5 par5 Fred fl mar5 radius5" v-if="item.monthCount >= 1">月红{{item.monthCount}}单</span>-->

                            <!--</p>-->

                            <!--<div class="clear1"></div>-->

                            <!--<p class="lh15px Fgray-2 F12 text-left text-over-hidden2">{{item.customSigna ? item.customSigna : '暂无'}}</p>-->

                            <!--<div class="clear h5px"></div>-->

                            <!--&lt;!&ndash;<div class="wb60 center h25px lh25px F14 radius15 pointer" :class="item.isFav ? 'Fgreen bor-green bor-solid-1a' : 'warpper-green Fwhite pa1'">&ndash;&gt;-->
                                <!--&lt;!&ndash;<span v-if="item.isFav">已关注</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;<span v-else>+关注</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->

                            <!--<div class="clear"></div>-->

                        <!--</div>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->

        <!--<div class="clear1"></div>-->


        <div class="wb100">
            <div class="clear1"></div>
            <template v-for="(item,key) in matchList">

                <div class="wb100">

                    <a href="javascript:;" @click="redirect('expert_detail.html?newsUserID='+item.uuid)">
                        <div class="pal15 relative Fgray-3" style="padding-left: 70px; padding-right: 70px;">
                            <div class="w50px h50px absolute" style="top: 0; left: 15px;">
                                <img :src="item.photoUrl ? item.photoUrl : 'images/head-img1.png'" class="w50px h50px radius50per">
                            </div>
                            <div class="wb100 h50px">
                                <p class="lh30px">
                                    <span class="fl mar5 Fgray-5">{{item.nickName}}</span>
                                    <span class="Fwhite warpper-tip-red F12 pal5 par5 h16px lh16px display-inline radius5 text-center fl mal5" v-if="item.lotTypeDesc == '胜平负'" style="margin-top: 7px;">{{item.lotTypeDesc}}</span>
                                    <span class="Fwhite warpper-tip-blue F12 pal5 par5 h16px lh16px display-inline radius5 text-center fl mal5" v-if="item.lotTypeDesc == '让胜平负'" style="margin-top: 7px;">{{item.lotTypeDesc}}</span>
                                    <span class="Fwhite warpper-tip-green F12 pal5 par5 h16px lh16px display-inline radius5 text-center fl mal5" v-if="item.lotTypeDesc == '进球数'" style="margin-top: 7px;">{{item.lotTypeDesc}}</span>
                                    <span class="Fwhite warpper-tip-orange F12 pal5 par5 h16px lh16px display-inline radius5 text-center fl mal5" v-if="item.lotTypeDesc == '比分'" style="margin-top: 7px;">{{item.lotTypeDesc}}</span>
                                </p>
                                <div class="clear"></div>
                                <!--计算标签-->
                                <p class="F12 text-center  mab5" style="margin-top: 2px">

                                    <span class="bor-orange4 bor-solid-1a Forange-2 h16px lh16px pal5 par5 fl mar5 radius5" v-if="item.tenDaysCount >= 6">近10中{{item.tenDaysCount}}</span>

                                    <span class="bor-orange4 bor-solid-1a Forange-2 h16px lh16px pal5 par5 fl mar5 radius5" v-if="item.successionCount >= 2">{{item.successionCount}}连红</span>

                                    <span class="bor-orange4 bor-solid-1a Forange-2 h16px lh16px pal5 par5 fl mar5 radius5" v-if="item.monthCount >= 1">月红{{item.monthCount}}单</span>

                                </p>

                                <div class="clear"></div>

                            </div>

                            <template v-if="item.result == 0">
                                <div class="w65px absolute text-center Forange-2" style="top: 10px; right: 30px;">
                                    <p class="Fnum F26 lh15px">{{parseInt(item.lossRatio * 100)}}<span class="F12">%</span></p>
                                    <p class="F12 lh15px">预计回报率</p>
                                </div>
                            </template>

                            <template v-if="item.result == 1">
                                <div class="w65px absolute text-center Fred" style="top: 0; right: 35px;">
                                    <img src="images/mz_wdgz.png" class="w50px">
                                </div>
                            </template>

                            <template v-if="item.result == 2">
                                <div class="w65px absolute text-center Fred" style="top: 0; right: 35px;">
                                    <img src="images/wz_wdgz.png" class="w50px">
                                </div>
                            </template>

                            <div class="clear"></div>
                        </div>

                    </a>

                    <div class="clear"></div>

                    <a href="javascript:;" @click="redirect('expert_recommend.html?newsID='+item.newsID)">
                        <div class="pal15 par15 pat15 relative Fgray-3">
                            <div class="warpper-black-3 lh25px h50px pal15 par15 pat10 pab10 relative" style="padding-right: 80px">
                                <p class="Fgray-6 F14">{{item.league}} <span class="Fnum">{{item.matchTime}}</span></p>
                                <p class="h25px lh25px text-over-hidden1 wb100 Fgray-5">{{item.title}}</p>

                                <div class="w60px h35px lh35px absolute text-center bor-gray5 bor-solid-1a Fgray-5 radius4" style="right: 15px; bottom: 16px;">
                                    免费
                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <p class="lh30px pal15 par15 F12 Fgray-6">
                            <span class="fl">发布于 <span class="Fnum">{{item.postedTime}}</span></span>

                            <span class="fr Fnum"><img src="images/icon-view.png"> {{item.hits}}</span>
                        </p>

                        <div class="pal15" v-if="key < totleCount - 1">
                            <div class="clear bor-black2 bor-solid-1b"></div>
                        </div>

                    </a>

                    <div class="clear1"></div>
                </div>

            </template>

            <div class="clear1"></div>

            <div class="wb100 h40px warpper-gray-3">
                <div class="text-center Fgray-3 h40px lh40px center w120px F14" v-show="loading">
                    <img src="images/loading-2.gif" v-show="!last" class="h20px fl mat10">
                    <span class="fl mal10">{{loadtext}}</span>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- sys js -->
<script src="js/jquery-2.1.4.js"></script>
<!--<script src="js/jquery-1.8.3.min.js"></script>-->
<script src="js/vue.min.js"></script>
<!-- Element-UI js -->
<script src="js/element-ui@1.3.3.js"></script>
<script src="js/base.js"></script>
<script src="js/md5_ch.js"></script>
<script src="js/jquery.rotate.js"></script>
<script src="js/interface.js"></script>
<script src="js/loading.js"></script>

<script>

    "use strict";

    var vm = new Vue({
        el: "#expert_page",
        data: {
            fullscreenLoading: true,
            _width: 0,
            _width2: 0,
            _height: 0,
            _height2: 0,
            startX: 0,
            endX: 0,
            active: 1,
            page: 1,
            pageSize: 20,
            totleCount: 0,
            loading: true,
            loadtext: '数据加载中...',
            empty: false,
            last: false,
            banner: [{
                "imageURL": "images/banner2.png"
            }],
            expertList: [],
            matchList: []
        },
        methods: {
            twoDecimal: function twoDecimal(x) {
                var f = parseFloat(x);
                if (isNaN(f)) {
                    return false;
                }
                var f = Math.round(x * 100) / 100;
                var s = f.toString();
                var rs = s.indexOf('.');
                if (rs < 0) {
                    rs = s.length;
                    s += '.';
                }
                while (s.length <= rs + 2) {
                    s += '0';
                }
                return s;
            },
            moveStart: function moveStart(e) {
                var _this = this;
                _this.startX = e.changedTouches[0].clientX || e.changedTouches[0].pageX;
            },
            moveEnd: function moveEnd(e) {
                var _this = this;
                _this.endX = e.changedTouches[0].clientX || e.changedTouches[0].pageX;
                var _result = _this.startX - _this.endX;

                if (_result >= 50) {
                    this.$refs.carousel.next();
                }
                if (_result < -50) {
                    this.$refs.carousel.prev();
                }
            },
            redirect : function redirect(url) {
                window.location.href = url;
            },

            getData: function getData() {
                var _this = this;

                if(_this.last)
                    return ;

                baseAjax.newsList(_this.page, _this.pageSize, function (data) {

                    if (data) {

                        var _tmp = data.returnJSON.indexData;

                        _this.totleCount = data.returnJSON.totalResult;

                        _this.matchList = _this.matchList.concat(_tmp);

                        if (_tmp.length == 0 || _tmp.length < _this.pageSize) {
                            if (_this.page == 1) {
                                _this.loading = false;
                                _this.last = true;
                                _this.loadtext = '暂无更多数据';
                            } else {
                                _this.loading = true;
                                _this.last = true;
                                _this.loadtext = '暂无更多数据';
                                return false;
                            }
                        }


                        if (data.returnJSON.indexData.length == 0) {
                            _this.empty = true;
                        } else {
                            _this.empty = false;
                        }
                    }
                });
            }
        },
        created: function created() {

            var _this = this;

            _this.width = $(window).width();
            _this.height = $(window).height();
            _this._width = parseInt($(window).width());
            _this._height = parseInt(_this._width * 0.32);

            _this._height2 = Math.ceil(($(window).width() - 50) / 2.5);

            _this._width2 = 0;

            baseAjax.topNewsUser(function (data) {
                if (data) {
                    _this.expertList = data.returnJSON;
                    _this._width2 = _this.expertList.length * (_this._height2 + 15);
                }
            });

            $(window).scroll(function () {
                if (_this.empty) return false;
                var scrollTop = $(window).scrollTop();
                var scrollHeight = $(document).height();
                var windowHeight = $(window).height();
                if (scrollTop + windowHeight == scrollHeight) {
                    _this.page++;
                    _this.getData();
                }
            });

            _this.getData();

        }
    });

    $(function () {
        var isPageHide = false;
        window.addEventListener('pageshow', function () {
            if (isPageHide) {

                var _this = vm;

                _this.width = $(window).width();
                _this.height = $(window).height();
                _this._width = parseInt($(window).width());
                _this._height = parseInt(_this._width * 0.32);

                _this._height2 = Math.ceil(($(window).width() - 50) / 2.5);

                _this._width2 = 0;

                baseAjax.topNewsUser(function (data) {
                    if (data) {
                        _this.expertList = data.returnJSON;
                        _this._width2 = _this.expertList.length * (_this._height2 + 15);
                    }
                });

                $(window).scroll(function () {
                    if (_this.empty) return false;
                    var scrollTop = $(window).scrollTop();
                    var scrollHeight = $(document).height();
                    var windowHeight = $(window).height();
                    if (scrollTop + windowHeight == scrollHeight) {
                        _this.page++;
                        _this.getData();
                    }
                });

                _this.getData();

            }
        });
        window.addEventListener('pagehide', function () {
            isPageHide = true;
        });
    });

</script>

<div style="display: none">
    <script src="https://s13.cnzz.com/z_stat.php?id=1264319468&web_id=1264319468" language="JavaScript"></script>
</div>

</body>
</html>
