<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <!-- sys css -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/loading.css" rel="stylesheet" media="screen">
    <!-- Element-UI css -->
    <link rel="stylesheet" href="css/element-ui@1.3.3.css">

    <title>达人</title>
</head>
<body class="warpper-black-4">

<!--
| ------------------------------------------
| expert_detail_page
| ------------------------------------------
| Here are expert_detail_page html
|
-->

<div id="expert_detail_page">

    <div class="loader">
        <div class="loader-content">
            <img src="images/loading_1.gif" alt="Loader" class="loader-loader wb15"/>
            <div class="clear h40px"></div>
            <p class="text-center" style="color: #999999 ">正在加载中...</p>
        </div>
    </div>

    <div class="wb100">

        <div class="clear1"></div>
        <div class="wb100 relative">

            <div style="padding-left: 74px">

                <img :src="newsUser.photoUrl ? newsUser.photoUrl : 'images/head-img1.png'" class="fl h70px w70px radius50per bor-white bor-solid-2a absolute" style="left: 15px; top:0;">

                <div class="Fwhite fl mal15">
                    <p class="F18 lh30px pal15 Fgray-5">{{newsUser.nickName}}</p>
                    <p class="F14 Fgray-6 lh20px pal15">{{newsUser.customSigna ? newsUser.customSigna : '暂无签名'}}</p>
                    <p class="F14 Fgray-6 lh20px pal15 Fnum">粉丝：{{newsUser.fansQty}}</p>
                </div>

                <template v-if="newsUser.uuid != user.uuid">
                    <div class="w60px text-center absolute h35px lh35px F14 radius20 pointer" @click="favUser" :class="isFav ? 'Foragne-2 bor-orange4 bor-solid-1a' : 'warpper-orange-7 Fwhite pa1'" style="right: 15px; top: 15px;">
                        <span v-if="isFav">已关注</span>
                        <span v-else>+关注</span>
                    </div>
                </template>
            </div>

            <div class="clear"></div>
        </div>
        <div class="clear1"></div>
    </div>

    <div class="wb100 warpper-black-3 Fgray-5 text-center">
        <div class="lh25px pat15 pab15">

            <div class="wb33333 fl">
                <p class="Fnum">{{totle}}场</p>
                <p class="Fgray-6 F14">总推荐</p>
            </div>
            <div class="wb33333 fl">
                <div class="wb100 h50px lh25px bor-black3 bor-solid-1l bor-solid-1r">
                    <p v-if="newsUser.tenDaysCount > 0">近10中{{newsUser.tenDaysCount}}</p>
                    <p v-else>——</p>
                    <p class="Fgray-6 F14">近期状态</p>
                </div>
            </div>
            <div class="wb33333 fl">
                <p v-if="newsUser.maxSuccessionCount > 0">{{newsUser.maxSuccessionCount}}连红</p>
                <p v-else>——</p>
                <p class="Fgray-6 F14">最高战绩</p>
            </div>

            <div class="clear"></div>
        </div>
    </div>

    <div class="clear1"></div>

    <div class="wb100 Fgray-5">

        <div class="wb100" v-if="empty==false">
            <div class="clear1"></div>
            <template v-for="(item,key) in newsList">

                <div class="wb100">

                    <a href="javascript:;" @click="redirect('expert_recommend.html?newsID='+item.newsID)">
                        <div class="pal15 relative Fgray-5" style="padding-left: 70px; padding-right: 70px;">
                            <div class="w50px h50px absolute" style="top: 0; left: 15px;">
                                <img :src="item.photoUrl ? item.photoUrl : 'images/head-img1.png'" class="w50px h50px radius50per">
                            </div>
                            <div class="wb100 h50px">
                                <p class="lh30px">
                                    <span class="fl mar5">{{item.nickName}} 推荐</span>
                                    <span class="Fwhite warpper-blue F12 pal5 par5 h20px lh20px display-inline radius5 text-center fl mat5">{{item.lotTypeDesc}}</span>
                                </p>
                                <div class="clear"></div>
                                <!--计算标签-->
                                <p class="F12 text-center mat5 mab5">

                                    <span class="bor-orange4 bor-solid-1a Forange-2 h18px lh18px pal5 par5 fl mar5 radius5" v-if="item.tenDaysCount >= 6">近10中{{item.tenDaysCount}}</span>

                                    <span class="bor-orange4 bor-solid-1a Forange-2 h18px lh18px pal5 par5 Fred fl mar5 radius5" v-if="item.successionCount >= 2">{{item.successionCount}}连红</span>

                                    <span class="bor-orange4 bor-solid-1a Forange-2 h18px lh18px pal5 par5 Fred fl mar5 radius5" v-if="item.monthCount >= 1">月红{{item.monthCount}}单</span>

                                </p>

                                <div class="clear"></div>

                            </div>

                            <template v-if="item.result == 0">
                                <div class="w65px absolute text-center Forange-2" style="top: 10px; right: 30px;">
                                    <p class="Fnum F26 lh25px">{{parseInt(item.lossRatio * 100)}}<span class="F12">%</span></p>
                                    <p class="F12 lh15px">预计回报率</p>
                                </div>
                            </template>

                            <template v-if="item.result == 1">
                                <div class="w65px absolute text-center Fred" style="top: 0; right: 35px;">
                                   <img src="images/mz_wdgz.png" class="w50px">
                                </div>
                            </template>

                            <template v-if="item.result == 2">
                                <div class="w65px absolute text-center Fred" style="top: 0; right: 35px;">
                                    <img src="images/wz_wdgz.png" class="w50px">
                                </div>
                            </template>

                            <div class="clear"></div>
                        </div>

                        <div class="clear"></div>

                        <div class="pal15 par15 pat15 Fgray-3">
                            <div class="warpper-black-3 lh25px h50px pal15 par15 pat10 pab10 relative" style="padding-right: 80px">
                                <p class="Fgray-6 F14">{{item.league}} <span class="Fnum">{{item.matchTime}}</span></p>
                                <p class="h25px lh25px text-over-hidden1 wb100 Fgray-5">{{item.title}}</p>

                                <div class="w60px h35px lh35px absolute text-center bor-gray5 bor-solid-1a Fgray-5 radius4" style="right: 15px; bottom: 16px;">
                                    免费
                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <p class="lh30px pal15 par15 F12 Fgray-6">
                            <span class="fl">发布于 <span class="Fnum">{{item.postedTime}}</span></span>

                            <span class="fr Fnum"><img src="images/icon-view.png"> {{item.hits}}</span>
                        </p>

                        <div class="pal15" v-if="key < totleCount - 1">
                            <div class="clear bor-black2 bor-solid-1b"></div>
                        </div>
                    </a>

                    <div class="clear1"></div>
                </div>


            </template>
        </div>

        <div class="wb100 h40px warpper-gray-3">
            <div class="text-center Fgray-3 h40px lh40px center w120px F14" v-show="loading">
                <img src="images/loading-2.gif" v-show="!last" class="h20px fl mat10">
                <span class="fl mal10">{{loadtext}}</span>
            </div>
        </div>

        <div class="wb100 text-center" v-if="empty==true">
            <img src="images/hb_kb.png"  class="wb25 center mat50">
            <div class="clear1"></div>
            <p class="Fgray-2 F16 lh25px h25px">还没有红包记录哦~</p>
            <div class="clear1"></div>
        </div>
    </div>

</div>

<!-- sys js -->
<script src="js/jquery-2.1.4.js"></script>
<!--<script src="js/jquery-1.8.3.min.js"></script>-->
<script src="js/vue.min.js"></script>
<!-- Element-UI js -->
<script src="js/element-ui@1.3.3.js"></script>
<script src="js/base.js"></script>
<script src="js/md5_ch.js"></script>
<script src="js/jquery.rotate.js"></script>
<script src="js/interface.js"></script>
<script src="js/loading.js"></script>

<script>

    'use strict';

    var vm = new Vue({
        el: "#expert_detail_page",
        data: {
            login: false,
            isFav: false,
            newsUserID: '',
            user: {},
            newsUser: {},
            newsList: [],
            current: 0,
            page: 1,
            pageSize: 20,
            totleCount: 0,
            loadtext: '数据加载中...',
            loading: true,
            empty: false,
            last: false,
            totle: 0,
            favDisabled: false,
        },
        methods: {
            twoDecimal: function twoDecimal(x) {
                var f = parseFloat(x);
                if (isNaN(f)) {
                    return false;
                }
                var f = Math.round(x * 100) / 100;
                var s = f.toString();
                var rs = s.indexOf('.');
                if (rs < 0) {
                    rs = s.length;
                    s += '.';
                }
                while (s.length <= rs + 2) {
                    s += '0';
                }
                return s;
            },

            redirect : function redirect(url) {
                window.location.href = url;
            },

            favUser: function favUser() {

                var _this = this;


                if(_this.favDisabled)
                    return;


                if (_this.isFav == true) {
                    //取消关注

                    baseAjax.cancelFocusUser(_this.newsUser.uuid, function (data, errorMsg) {
                        if (data) {
                            _this.$message({
                                type: 'success',
                                message: '取消关注成功',
                                duration: 1500
                            });

                            _this.favDisabled = true;

                            setTimeout(function(){
                                _this.favDisabled = false;
                            },1500);

                            _this.isFav = !_this.isFav;
                        } else {
                            _this.$message({
                                type: 'error',
                                message: errorMsg,
                                duration: 1500
                            });

                            _this.favDisabled = true;

                            setTimeout(function(){
                                _this.favDisabled = false;
                            },1500);

                        }


                    });
                } else {
                    //关注
                    baseAjax.focusUser(_this.newsUser.uuid, function (data, errorMsg) {
                        if (data) {
                            _this.$message({
                                type: 'success',
                                message: '关注成功',
                                duration: 1500
                            });
                            _this.favDisabled = true;

                            setTimeout(function(){
                                _this.favDisabled = false;
                            },1500);

                            _this.isFav = !_this.isFav;
                        } else {
                            _this.$message({
                                type: 'error',
                                message: errorMsg,
                                duration: 1500
                            });

                            _this.favDisabled = true;

                            setTimeout(function(){
                                _this.favDisabled = false;
                            },1500);

                        }
                    });
                }
            },
            getData: function getData() {

                var _this = this;

                baseAjax.newsListByUser(_this.page, _this.pageSize, _this.newsUserID, function (data) {

                        if (data) {
                            var _tmp = data.returnJSON.indexData;

                            _this.totle = data.returnJSON.totalResult;

                            _this.totleCount = data.returnJSON.totalResult;

                            if (_tmp.length == 0 || _tmp.length < _this.pageSize) {

                                if (_this.page == 1) {
                                    _this.loading = false;
                                    _this.last = true;
                                    _this.loadtext = '暂无更多数据';
                                } else {
                                    _this.loading = true;
                                    _this.last = true;
                                    _this.loadtext = '暂无更多数据';
                                    return false;
                                }
                            }

                            if (_tmp.length == 0) {
                                _this.empty = true;
                                return false;
                            } else {
                                _this.empty = false;
                            }

                            _this.newsList = _this.newsList.concat(_tmp);
                        } else {
                            _this.empty = true;
                        }
                    }
                    //

                );
            }
        },
        created: function created() {
            var _this = this;

            var _newsUserID = base.getParmar('newsUserID');

            if (base.isNull(_newsUserID)) {
                _this.$message({
                    type: 'error',
                    message: '缺少达人ID',
                    duration: 1500
                });
                return false;
            }

            _this.newsUserID = _newsUserID;

            baseAjax.newsUserInfo(_newsUserID, function (data) {
                if (data) {
                    _this.newsUser = data.returnJSON;

                    var fav = data.extendInfo;

                    if (base.isNull(fav)) {
                        _this.isFav = false;
                    } else {
                        _this.isFav = true;
                    }

                    console.log(_this.newsUser);
                }
            });

            _this.getData();

            //- 判断登录
            baseAjax.userInfo(function (data) {
                var _user = data.returnJSON;
                if (base.isNull(_user)) {} else {
                    _this.user = _user;
                }
            });
        }
    });

    $(function () {
        var isPageHide = false;
        window.addEventListener('pageshow', function () {
            if (isPageHide) {

                var _this = vm;

                var _newsUserID = base.getParmar('newsUserID');

                if (base.isNull(_newsUserID)) {
                    _this.$message({
                        type: 'error',
                        message: '缺少达人ID',
                        duration: 1500
                    });
                    return false;
                }

                _this.newsUserID = _newsUserID;

                baseAjax.newsUserInfo(_newsUserID, function (data) {
                    if (data) {
                        _this.newsUser = data.returnJSON;

                        var fav = data.extendInfo;

                        if (base.isNull(fav)) {
                            _this.isFav = false;
                        } else {
                            _this.isFav = true;
                        }

                        console.log(_this.newsUser);
                    }
                });

                _this.getData();

                //- 判断登录
                baseAjax.userInfo(function (data) {
                    var _user = data.returnJSON;
                    if (base.isNull(_user)) {} else {
                        _this.user = _user;
                    }
                });

            }
        });
        window.addEventListener('pagehide', function () {
            isPageHide = true;
        });
    });

</script>

<div style="display: none">
    <script src="https://s13.cnzz.com/z_stat.php?id=1264319468&web_id=1264319468" language="JavaScript"></script>
</div>

</body>
</html>
