<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <!-- sys css -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/loading.css" rel="stylesheet" media="screen">
    <!-- Element-UI css -->
    <link rel="stylesheet" href="css/element-ui@1.3.3.css">

    <style>
        .el-carousel__button{ width: 6px; height: 6px; -moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50% }
        .el-carousel__arrow--left{ display: none;}
        .el-carousel__arrow--right{ display: none;}
    </style>
    <title>达人推荐</title>
</head>
<body class="warpper-black-4">

<!--
| ------------------------------------------
| expert_recommend_page
| ------------------------------------------
| Here are expert_recommend_page html
|
-->

<div id="expert_recommend_page">

    <!--loader-->
    <div class="loader">
        <div class="loader-content">
            <img src="images/loading_1.gif" alt="Loader" class="loader-loader wb15"/>
            <div class="clear h40px"></div>
            <p class="text-center" style="color: #999999 ">正在加载中...</p>
        </div>
    </div>

    <div class="wb100">

        <div class="pa15">
            <p class="F20 Fgray-5">{{newData.title}}</p>

            <div class="clear1"></div>

            <div class=" relative" style="padding-left: 75px; padding-right: 80px;">
                <div class="w50px h50px absolute" style="top: 0; left: 0;">
                    <img :src="newData.photoUrl ? newData.photoUrl : 'images/head-img1.png'" class="w60px h60px radius50per">
                </div>
                <div class="wb100 h50px">
                    <p class="lh30px">
                        <span class="fl mar5 Fgray-5">{{newData.nickName}} 推荐</span>
                        <!--<span class="Fwhite warpper-blue F12 pal5 par5 h20px lh20px display-inline radius5 text-center fl mat5">让球胜平负</span>-->
                    </p>
                    <div class="clear"></div>

                    <!--计算标签-->
                    <p class="F12 text-center mat5 mab5">

                        <span class="bor-orange4 bor-solid-1a Forange-2 h18px lh18px pal5 par5 fl mar5 radius5" v-if="newData.tenDaysCount >= 6">近10中{{newData.tenDaysCount}}</span>

                        <span class="bor-orange4 bor-solid-1a Forange-2 h18px lh18px pal5 par5 fl mar5 radius5" v-if="newData.successionCount >= 2">{{newData.successionCount}}连红</span>

                        <span class="bor-orange4 bor-solid-1a Forange-2 h18px lh18px pal5 par5 fl mar5 radius5" v-if="newData.monthCount >= 1">月红{{newData.monthCount}}单</span>

                    </p>

                </div>

                <template v-if="isMain == false">
                    <div class="w60px text-center absolute h35px lh35px F14 radius20 pointer" @click="favUser" :class="isFav ? 'Foragne-2 bor-orange4 bor-solid-1a' : 'warpper-orange-7 Fwhite pa1'" style="right: 0; top: 9px;">
                        <span v-if="isFav">已关注</span>
                        <span v-else>+关注</span>
                    </div>
                </template>

                <div class="clear"></div>
            </div>

            <div class="clear1"></div>
            <div class="clear1"></div>

            <div class="pa15 warpper-black-3 relative Fgray-5">
                <div class="wb100">
                    <div class="wb50 fl Fgray-6 F12 lh20px">
                        发布于 <span class="Fnum">{{newData.postedTime}}</span>
                    </div>

                    <!--倒计时-->
                    <template v-if="timeOut == false">
                        <div class="wb50 fr Fgray-6 F12 text-right">
                            <span class="Fgray-6">距截止：</span> <span class="warpper-gray-2 Fgray-6 display-inline h20px lh20px w20px text-center Fnum">{{addZero(date.h)}}</span> :
                            <span class="warpper-gray-2 Fgray-6 display-inline h20px lh20px w20px text-center Fnum">{{addZero(date.m)}}</span> :
                            <span class="warpper-gray-2 Fgray-6 display-inline h20px lh20px w20px text-center Fnum">{{addZero(date.s)}}</span>
                        </div>
                    </template>

                    <template v-if="timeOut == true">
                        <template v-if="matchData.status == 2">
                            <div class="wb50 Fred F12 fr text-right lh20px Fnum">
                                <template v-if="matchData.matchMinute < 45">
                                    进行中 {{matchData.matchMinute}}'
                                </template>
                                <template v-if="matchData.matchMinute == 45">
                                    <template v-if="matchData.matchMinuteExtra == 0">
                                        进行中 45'
                                    </template>
                                    <template v-if="matchData.matchMinuteExtra != 0">
                                        进行中 45+'
                                    </template>
                                </template>

                                <template v-if="matchData.matchMinute > 45 && matchData.matchMinute < 90">
                                    进行中 {{matchData.matchMinute}}'
                                </template>

                                <template v-if="matchData.matchMinute == 90">
                                    <template v-if="matchData.matchMinuteExtra == 0">
                                        进行中 90'
                                    </template>
                                    <template v-if="matchData.matchMinuteExtra != 0">
                                        进行中 90+'
                                    </template>
                                </template>
                            </div>
                        </template>

                        <template v-else-if="matchData.status == 3">
                            <!--<template v-if="isHit == true">-->
                                <!--<div class="w65px absolute text-center Fred" style="top: -10px; right: -10px;">-->
                                    <!--<img src="images/mz_wdgz.png" class="w50px">-->
                                <!--</div>-->
                            <!--</template>-->

                            <!--<template v-else>-->
                                <!--<div class="w65px absolute text-center Fred" style="top: -10px; right: -10px;">-->
                                    <!--<img src="images/wz_wdgz.png" class="w50px">-->
                                <!--</div>-->
                            <!--</template>-->

                            <div class="wb50 Fgray-6 F12 fr text-right lh20px">
                                竞猜已结束
                            </div>

                        </template>

                        <template v-else>
                            <div class="wb50 Fgray-3 F12 fr text-right lh20px">
                                竞猜已结束
                            </div>
                        </template>
                    </template>

                </div>

                <div class="clear"></div>

                <div class="pat15 pab15 Fgray-5 text-center lh20px">
                    <div class="wb35 fl">
                        <div class="w60px h60px center img-area">
                            <img :src="newData.matchInfo.homeTeamLogo">
                        </div>
                        <p class="lh30px">{{cutStrForNum(newData.matchInfo.homeTeam,5)}}</p>
                    </div>

                    <div class="wb30 fl">
                        <div class="wb80 center Fgray-5" v-if="matchEmpty != true">
                            <p class="lh20px">{{matchData.leagueType}} 周<span class="Fnum">{{matchData.weekOfDay}} {{matchData.matchNum}}</span></p>
                            <div class="wb45 center F24 lh40px Fnum">
                                <template v-if="timeOut == false">VS</template>
                                <template v-else>{{matchData.matchResult}}</template>
                            </div>

                            <p class="F12 lh30px Fnum">{{ dateFormat(matchData.matchTime,16)}}</p>
                        </div>

                        <div class="wb100" v-if="matchEmpty == true">
                            <p class="h80px lh80px text-center">暂无</p>
                        </div>
                    </div>

                    <div class="wb35 fr">
                        <div class="w60px h60px center img-area">
                            <img :src="newData.matchInfo.visitingTeamLogo">
                        </div>
                        <p class="lh30px">{{cutStrForNum(newData.matchInfo.visitingTeam,5)}}</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="clear"></div>

                <div class="wb100 h45px lh45px text-center Fgray-3 warpper-gray-2" style="background: #dedede;" v-if="matchEmpty!= true">
                    推荐 <span class="Fred">{{ newData.matchInfo.lotTypeDesc}}
                    <template v-if="matchData.lotTypeRate.isLetBall == true">
                        <span v-if="matchData.lotTypeRate.letBall>0">(+{{matchData.lotTypeRate.letBall}})</span>
                        <span v-else>({{matchData.lotTypeRate.letBall}})</span>
                    </template>
                    — {{newData.matchInfo.anteValueDesc}}

                        <!--赔率-->
                        <!--胜平负或让胜平负-->
                        <template v-if="newData.matchInfo.anteValue == 0">({{twoDecimal(matchData.lotTypeRate.win)}})</template>
                        <template v-if="newData.matchInfo.anteValue == 1">({{twoDecimal(matchData.lotTypeRate.tie)}})</template>
                        <template v-if="newData.matchInfo.anteValue == 2">({{twoDecimal(matchData.lotTypeRate.lose)}})</template>
                        <!--比分-->
                        <template v-if="newData.matchInfo.lotType == 2">
                            <span>
                                <template v-if="newData.matchInfo.anteValue == 0">({{twoDecimal(matchData.lotTypeRate.s_1_0)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 1">({{twoDecimal(matchData.lotTypeRate.s_2_0)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 2">({{twoDecimal(matchData.lotTypeRate.s_2_1)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 3">({{twoDecimal(matchData.lotTypeRate.s_3_0)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 4">({{twoDecimal(matchData.lotTypeRate.s_3_1)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 5">({{twoDecimal(matchData.lotTypeRate.s_3_2)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 6">({{twoDecimal(matchData.lotTypeRate.s_4_0)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 7">({{twoDecimal(matchData.lotTypeRate.s_4_1)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 8">({{twoDecimal(matchData.lotTypeRate.s_4_2)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 9">({{twoDecimal(matchData.lotTypeRate.s_5_0)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 10">({{twoDecimal(matchData.lotTypeRate.s_5_1)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 11">({{twoDecimal(matchData.lotTypeRate.s_5_2)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 12">({{twoDecimal(matchData.lotTypeRate.s_other)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 13">({{twoDecimal(matchData.lotTypeRate.p_0_0)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 14">({{twoDecimal(matchData.lotTypeRate.p_1_1)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 15">({{twoDecimal(matchData.lotTypeRate.p_2_2)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 16">({{twoDecimal(matchData.lotTypeRate.p_3_3)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 17">({{twoDecimal(matchData.lotTypeRate.p_other)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 18">({{twoDecimal(matchData.lotTypeRate.f_0_1)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 19">({{twoDecimal(matchData.lotTypeRate.f_0_2)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 20">({{twoDecimal(matchData.lotTypeRate.f_1_2)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 21">({{twoDecimal(matchData.lotTypeRate.f_0_3)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 22">({{twoDecimal(matchData.lotTypeRate.f_1_3)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 23">({{twoDecimal(matchData.lotTypeRate.f_2_3)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 24">({{twoDecimal(matchData.lotTypeRate.f_0_4)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 25">({{twoDecimal(matchData.lotTypeRate.f_1_4)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 26">({{twoDecimal(matchData.lotTypeRate.f_2_4)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 27">({{twoDecimal(matchData.lotTypeRate.f_0_5)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 28">({{twoDecimal(matchData.lotTypeRate.f_1_5)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 29">({{twoDecimal(matchData.lotTypeRate.f_2_5)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 30">({{twoDecimal(matchData.lotTypeRate.f_other)}})</template>
                            </span>
                        </template>
                        <!--进球-->
                        <template v-if="newData.matchInfo.lotType == 3">
                            <span>
                                <template v-if="newData.matchInfo.anteValue == 0">({{twoDecimal(matchData.lotTypeRate.total0)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 1">({{twoDecimal(matchData.lotTypeRate.total1)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 2">({{twoDecimal(matchData.lotTypeRate.total2)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 3">({{twoDecimal(matchData.lotTypeRate.total3)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 4">({{twoDecimal(matchData.lotTypeRate.total4)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 5">({{twoDecimal(matchData.lotTypeRate.total5)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 6">({{twoDecimal(matchData.lotTypeRate.total6)}})</template>
                                <template v-if="newData.matchInfo.anteValue == 7">({{twoDecimal(matchData.lotTypeRate.total7)}})</template>
                            </span>
                        </template>
                    </span>
                </div>

                <div class="clear1"></div>

                <a href="javascript:;" @click="redirect('soccer_detail_bet.html?matchID='+ newData.matchInfo.matchID)" v-if="timeOut == false">
                    <div class="wb100 h45px lh45px text-center radius5 Fwhite warpper-orange-7">
                        立即竞猜
                    </div>
                </a>

                <div class="clear"></div>

            </div>

            <div class="clear1"></div>
            <div class="clear1"></div>

            <div class="wb100 lh25px F18 Fgray-5" style="text-align: justify;">
                <div class="wb100 img-area" v-html="newData.body">

                </div>
            </div>

        </div>

        <p class="pa15 warpper-black-3 Fgray-6 text-center F14">观点仅供参考，投注需谨慎</p>

    </div>

</div>

<!-- sys js -->
<script src="js/jquery-2.1.4.js"></script>
<!--<script src="js/jquery-1.8.3.min.js"></script>-->
<script src="js/vue.min.js"></script>
<!-- Element-UI js -->
<script src="js/element-ui@1.3.3.js"></script>
<script src="js/base.js"></script>
<script src="js/md5_ch.js"></script>
<script src="js/jquery.rotate.js"></script>
<script src="js/interface.js"></script>
<script src="js/loading.js"></script>

<script>

    "use strict";

    var vm = new Vue({
        el: "#expert_recommend_page",
        data: {
            fullscreenLoading: true,
            isFav: false,
            timerID: 0,
            timer: 0,
            timeOut: false,
            matchEmpty: false,
            favDisabled: false,
            isHit: false,
            isMain: false,
            date: {
                h: 0,
                m: 0,
                s: 0
            },
            newData: {
                matchInfo: {
                    visitingTeam: '',
                    homeTeam: ''
                },
                matchDay: '',
                matchTime: '',
                body: ''
            },
            matchData: {
                lotTypeRate: {
                    win: 0,
                    tie: 0,
                    lose: 0
                },
                matchDay: '',
                matchTime: '',
                leagueType: ''
            }
        },
        methods: {
            favUser: function favUser() {

                var _this = this;

                if(_this.favDisabled)
                    return;

                if (_this.isFav == true) {
                    //取消关注

                    baseAjax.cancelFocusUser(_this.newData.uuid, function (data, errorMsg) {
                        if (data) {
                            _this.$message({
                                type: 'success',
                                message: '取消关注成功',
                                duration: 1500
                            });

                            _this.favDisabled = true;

                            setTimeout(function(){
                                _this.favDisabled = false;
                            },1500);

                            _this.isFav = !_this.isFav;
                        } else {
                            _this.$message({
                                type: 'error',
                                message: errorMsg,
                                duration: 1500
                            });

                            _this.favDisabled = true;

                            setTimeout(function(){
                                _this.favDisabled = false;
                            },1500);
                        }

                        console.log(_this.newData.uuid)

                    });
                } else {
                    //关注
                    baseAjax.focusUser(_this.newData.uuid, function (data, errorMsg) {
                        if (data) {
                            _this.$message({
                                type: 'success',
                                message: '关注成功',
                                duration: 1500
                            });

                            _this.favDisabled = true;

                            setTimeout(function(){
                                _this.favDisabled = false;
                            },1500);

                            _this.isFav = !_this.isFav;
                        } else {
                            _this.$message({
                                type: 'error',
                                message: errorMsg,
                                duration: 1500
                            });

                            _this.favDisabled = true;

                            setTimeout(function(){
                                _this.favDisabled = false;
                            },1500);
                        }
                    });
                }
            },
            /**
             * 小于9补0函数
             * @param num		原始数值
             * @returns {*}	新数值
             */
            addZero: function addZero(num) {
                var str = num.toString();
                if (str.length == 1) return "0" + num;else return num;
            },

            dateFormat: function dateFormat(date, index) {
                return date.substring(5, index);
            },

            redirect : function redirect(url) {
                window.location.href = url;
            },

            stringToDate: function stringToDate(dateString) {

                if (dateString) {
                    var arr1 = dateString.split(" ");
                    var sdate = arr1[0].split('-');
                    var sdate2 = arr1[1].split(':');
                    var date = new Date(sdate[0], sdate[1]-1, sdate[2], sdate2[0], sdate2[1], sdate2[2]);
                    return date;
                }
            },

            twoDecimal: function twoDecimal(x) {
                var f = parseFloat(x);
                if (isNaN(f)) {
                    return false;
                }
                var f = Math.round(x * 100) / 100;
                var s = f.toString();
                var rs = s.indexOf('.');
                if (rs < 0) {
                    rs = s.length;
                    s += '.';
                }
                while (s.length <= rs + 2) {
                    s += '0';
                }
                return s;
            },

            cutStrForNum: function cutStrForNum(str, num) {
                if(str.length <= num){
                    return str;
                }else{
                    return str.substring(0, num-1) + '...';
                }
            },

        },
        created: function created() {

            var _this = this;

            var _newsID = base.getParmar('newsID');

            if (base.isNull(_newsID)) {
                _this.$message({
                    type: 'error',
                    message: '缺少文章ID',
                    duration: 1500
                });
                return false;
            }

            //- 判断登录
            baseAjax.userInfo(function (data) {
                var _user = data.returnJSON;

                if (base.isNull(_user)) {
                    //- 未登录
                    _this.login = false;
                } else {
                    _this.user = _user;
                    _this.login = true;
                }

                baseAjax.newsInfo(_newsID, function (data2) {
                    if (data2) {
                        _this.newData = data2.returnJSON;

                        var fav = data2.extendInfo;

                        if (base.isNull(fav)) {
                            _this.isFav = false;
                        } else {

                            if(fav.uuid == 0){
                                _this.isFav = false;
                            }else{
                                if(_this.newData.uuid == _user.uuid){
                                    _this.isFav = false;
                                    _this.isMain = true;
                                }else{
                                    _this.isFav = true;
                                }
                            }
                        }

                        var lotVal = _this.newData.matchInfo.anteValue;
                        var lotType = _this.newData.matchInfo.lotType;

                        baseAjax.newsMatchInfo(_newsID, function (data) {

                            if (data) {

                                _this.matchData = data.returnJSON;

                                if (base.isNull(_this.matchData)) {
                                    //已完赛或者其他状态
                                    _this.matchEmpty = true;
                                    return false;
                                }

                                console.log(data);

                                var _now = new Date().getTime();

//                    var _timer = Math.round((new Date(_this.matchData.matchTime).getTime() - _now) / 1000);

                                var _timer = Math.round((_this.stringToDate(_this.matchData.matchTime).getTime() - _now) / 1000) - 300;

                                //未开始
                                if (_timer > 0) {

                                    _this.timeOut = false;

                                    _this.timer = _timer;

                                    _this.timerID = setInterval(function () {

                                        _timer--;

                                        //                     var d = Math.floor(_timer / 86400) ;
                                        //                     var h = Math.floor((_timer - (86400 * d)) / 3600);
                                        //                     var m = Math.floor((_timer - (86400 * d) - (h * 3600)) / 60);
                                        //                     var s = (_timer - (86400 * d) - (h * 3600) - (m * 60));

                                        //                     console.log(d +':'+h +':' + m + ':' + s);

                                        var h = Math.floor(_timer / 3600);
                                        var m = Math.floor((_timer - 3600 * h) / 60);
                                        var s = _timer - 3600 * h - m * 60;

                                        //                     console.log(h +':' + m + ':' + s);

                                        _this.date = {
                                            h: h,
                                            m: m,
                                            s: s
                                        };
                                    }, 1000);
                                } else {
                                    //已开始
                                    _this.timeOut = true;
                                }
                            }

                            var matchResult = _this.matchData.matchResult;

                            var hResult = matchResult.split(':')[0];
                            var gResult = matchResult.split(':')[1];
//
//                            console.log(lotType);
//                            console.log(lotVal);
//                            console.log(matchResult);
//                            console.log(hResult);
//                            console.log(gResult);


                            if(lotType == 0){

                            }


                        });

                    }
                });

            });



        }
    });

    $(function () {
        var isPageHide = false;
        window.addEventListener('pageshow', function () {
            if (isPageHide) {

                var _this = vm;

                var _newsID = base.getParmar('newsID');

                if (base.isNull(_newsID)) {
                    _this.$message({
                        type: 'error',
                        message: '缺少文章ID',
                        duration: 1500
                    });
                    return false;
                }

                //- 判断登录
                baseAjax.userInfo(function (data) {
                    var _user = data.returnJSON;

                    if (base.isNull(_user)) {
                        //- 未登录
                        _this.login = false;
                    } else {
                        _this.user = _user;
                        _this.login = true;
                    }

                    baseAjax.newsInfo(_newsID, function (data) {
                        if (data) {
                            _this.newData = data.returnJSON;

                            var fav = data.extendInfo;

                            if (base.isNull(fav)) {
                                _this.isFav = false;
                            } else {

                                if(fav.uuid == 0){
                                    _this.isFav = false;
                                }else{
                                    if(fav.uuid == _user.uuid){
                                        _this.isFav = false;
                                    }else{
                                        _this.isFav = true;
                                    }
                                }

                            }

                            console.log(_this.newData);
                        }
                    });

                });

                baseAjax.newsMatchInfo(_newsID, function (data) {

                    if (data) {

                        _this.matchData = data.returnJSON;

                        if (base.isNull(_this.matchData)) {
                            //已完赛或者其他状态
                            _this.matchEmpty = true;
                            return false;
                        }

                        console.log(data);

                        var _now = new Date().getTime();

//                    var _timer = Math.round((new Date(_this.matchData.matchTime).getTime() - _now) / 1000);

                        var _timer = Math.round((_this.stringToDate(_this.matchData.matchTime).getTime() - _now) / 1000) - 300;

                        //未开始
                        if (_timer > 0) {

                            _this.timeOut = false;

                            _this.timer = _timer;

                            _this.timerID = setInterval(function () {

                                _timer--;

                                //                     var d = Math.floor(_timer / 86400) ;
                                //                     var h = Math.floor((_timer - (86400 * d)) / 3600);
                                //                     var m = Math.floor((_timer - (86400 * d) - (h * 3600)) / 60);
                                //                     var s = (_timer - (86400 * d) - (h * 3600) - (m * 60));

                                //                     console.log(d +':'+h +':' + m + ':' + s);

                                var h = Math.floor(_timer / 3600);
                                var m = Math.floor((_timer - 3600 * h) / 60);
                                var s = _timer - 3600 * h - m * 60;

                                //                     console.log(h +':' + m + ':' + s);

                                _this.date = {
                                    h: h,
                                    m: m,
                                    s: s
                                };
                            }, 1000);
                        } else {
                            //已开始
                            _this.timeOut = true;
                        }
                    }

                    //结束状态？status
                });

            }
        });
        window.addEventListener('pagehide', function () {
            isPageHide = true;
        });
    });

</script>

<div style="display: none">
    <script src="https://s13.cnzz.com/z_stat.php?id=1264319468&web_id=1264319468" language="JavaScript"></script>
</div>

</body>
</html>
