<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <!-- sys css -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/loading.css" rel="stylesheet" media="screen">
    <!-- Element-UI css -->
    <link rel="stylesheet" href="css/element-ui@1.3.3.css">

    <style>

        .el-radio__input.is-checked .el-radio__inner{border-color: #ee542c;background: #ee542c;}

    </style>

    <title>收货地址</title>
</head>
<body class="warpper-black-4">

<!--
| ------------------------------------------
| store_page
| ------------------------------------------
| Here are store_order_address_page html
|
-->

<div id="store_order_address_page">

    <!--loader-->
    <div class="loader">
        <div class="loader-content">
            <img src="images/loading_1.gif" alt="Loader" class="loader-loader wb15"/>
            <div class="clear h40px"></div>
            <p class="text-center" style="color: #999999 ">正在加载中...</p>
        </div>
    </div>

    <div class="wb100">



        <template v-for="(item,key) in deliveryList">
            <div class="wb100 warpper-black-3">
                <div class="pa15 Fgray-5">
                    <p>

                        <span class="fl">{{item.recipients}}</span>
                        <span class="fr Fnum">{{item.mobilePhone}}</span>
                    </p>
                </div>

                <div class="clear1"></div>

                <div class="pal15">
                    <p class="F14  h30px bor-solid-1b bor-gray-9 Fgray-5">{{item.address}}</p>

                </div>

                <div class="pa15">

                    <div class="radio fl h30px lh30px" @click="myClick(item.addressID, key)">
                        <el-radio  v-model="radio" :label="item.addressID" ><span class="Fgray-5">设为默认地址</span></el-radio>
                    </div>

                    <div class="fr bor-solid-1a w60px h30px lh30px text-center radius5 Fgray-5"  @click="exchange(item.addressID)">
                        删除
                    </div>

                    <!--<a :href="'store_edit_order_address.html?addressID='+item.addressID+'&recipients='+item.recipients+'&mobilePhone='+item.mobilePhone+'&address='+item.address">-->
                        <div class="fr bor-solid-1a w60px h30px lh30px text-center radius5 mar15 Fgray-5" @click="edit(item)">
                            编辑
                        </div>
                    <!--</a>-->

                </div>
                <div class="clear1"></div>
                <div class="clear1 warpper-black-4"></div>
            </div>

        </template>

        <div class="wb100" id="dialog" style="display: none">
            <div class="dialogBg"></div>
            <div class="wb100 fixed" style="bottom:50%;z-index: 99">
                <div class=" warpper-white radius5 wb70 center ">
                    <div class="wb100 h150px">
                        <div class="text-center">
                            <p class="lh100px h100px bor-solid-1b bor-gray">确定删除地址吗？</p>
                            <!--<p class="F14 Fgray-3 bor-solid-1b bor-gray  h40px">需花费<span class="Fred Fnum"></span>金币</p>-->
                            <p class="lh50px h50px">
                                <span class="fl  wb50 bor-solid-1r bor-gray " style="height: 49px" @click="cancel">取消</span>
                                <span class="fr  wb49 Forange-2" @click="remove">确定</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="pa15">
            <div class="wb100 h45px lh45px Forange-2 F16 text-center radius5 bor-solid-1a bor-orange4"  @click="submitOrder">新增收货地址</div>
        </div>

        <div class="pal15 par15">
            <div class="wb100 h45px lh45px Fwhite F16 text-center radius5 warpper-orange-7"  @click="pay">确定</div>
        </div>



        <div class="dialogBg" style="z-index: 99; background: rgba(0,0,0,.7);" v-show="showBuySuccess == true" @click="showBuySuccess = false"></div>
        <div class="w270px h250px fixed Fwhite F16 text-center" v-show="showBuySuccess == true" style="top: 0; right: 0; left: 0; bottom: 0; margin: auto; z-index: 999;">
            <img src="images/zt.png" class="w130px absolute" style="top: 0; left: 0; right: 0; margin: 0 auto; z-index: 9999; width: 134px;">
            <img src="images/gx.png" class="w270px rotater absolute" style="top: -77px; left: -7px; z-index: 999;">
            <div class="clear h130px"></div>
            <div class="wb100">
                <p class="F16 lh40px">恭喜您抽中</p>
                <p class="lh20px Fyellow F20">{{Data.goodsname}}</p>
                <div class="clear h20px"></div>
                <div class="wb45 fl warpper-yellow pa1 radius4 h40px lh40px Fbrown-3 text-center" @click="showBuySuccess = false">
                    返回
                </div>
                <a href="javascript:;" @click="redirect('store_order_detail.html?ordernum='+ordernum + '&bigtype='+bigtype)">
                    <div class="wb45 fr  radius4 h40px lh40px text-center Fwhite warpper-red">
                        查看详情
                    </div>
                </a>
            </div>
        </div>




    </div>


</div>

<!-- sys js -->
<script src="js/jquery-2.1.4.js"></script>
<!--<script src="js/jquery-1.8.3.min.js"></script>-->
<script src="js/vue.min.js"></script>
<!-- Element-UI js -->
<script src="js/element-ui@1.3.3.js"></script>
<script src="js/base.js"></script>
<script src="js/md5_ch.js"></script>
<script src="js/jquery.rotate.js"></script>
<script src="js/interface.js"></script>
<script src="js/shopping_mall.js"></script>
<script src="js/loading.js"></script>


<script>


    "use strict";

    var vm = new Vue({
        el: "#store_order_address_page",
        data: {
            fullscreenLoading: true,
            Data:{},
            radio: 0,
            deliveryList: [],
            page: 1,
            pageSize: 20,
            removeID: 0,
            recipients:"",
            favDisabled: false,
            showBuySuccess: false,
            rotateTimer: 0,
            angle: 0,
            ordernum:"",
            bigtype:"",
        },
        methods: {

            getData: function getData() {
                var _this = this;
                _this.goodsid = base.getParmar('goodsid');
            },

            redirect : function redirect(url) {
                window.location.href = url;
            },

            rotation: function rotation(){
                var _this = this;
                window.clearInterval(_this.rotateTimer);
                _this.rotateTimer = setInterval(function(){
                    _this.angle += 3;
                    $(".rotater").rotate(_this.angle);
                },50);


            },


            edit: function edit(key) {
                var _this = this;

                _this.addressID = key.addressID

                _this.recipients = key.recipients

                _this.mobilePhone = key.mobilePhone

                _this.address = key.address

                window.location.replace('store_edit_order_address.html?addressID='+_this.addressID+'&recipients='+_this.recipients+'&mobilePhone='+_this.mobilePhone+'&address='+_this.address+'&goodsid=' + _this.goodsid);

            },

            myClick: function myClick(key, i) {

                var _this = this;

                _this.radio = key;

                _this.addressID = key;

                _this.username = _this.deliveryList[i].recipients;

                _this.telephone = _this.deliveryList[i].mobilePhone;

                _this.location = _this.deliveryList[i].address;

                baseAjax.defaultAddress(key, function (data) {
                    if(data){
                        console.log(data);
                    }
                });
            },

            getaddressList: function getaddressList() {

                var _this = this;

                baseAjax.addressList(_this.page, _this.pageSize, function (data) {

                    var _tmp = data.returnJSON.indexData;

                    console.log(data);

                    for (var i = 0; i < _tmp.length; i++) {
                        if (_tmp[i].isDefault == 1) {
                            _this.radio = _tmp[i].addressID;
                            _this.username = _tmp[i].recipients;
                            _this.telephone = _tmp[i].mobilePhone;
                            _this.location = _tmp[i].address;
                            console.log(_tmp[i]);
                            break;
                        }
                    }

                    _this.deliveryList = _this.deliveryList.concat(_tmp);

                });
            },

            exchange: function exchange(key) {


                $("#dialog").show(0);
                this.removeID = key;
                console.log(key)
            },

            cancel: function cancel(key) {


                $("#dialog").hide(0);
                this.removeID = key;
            },

            remove: function remove() {

                var _this = this;

                baseAjax.delAddress(_this.removeID, function (data) {
                    if (data) {
                        _this.deliveryList = [];
                        _this.getaddressList();
                    }
                });

                $("#dialog").hide(0);

            },


            pay: function pay() {

                var _this = this;

                if(_this.favDisabled)
                    return;

                if(_this.deliveryList.length == 0){
                    _this.$message({
                        type: 'error',
                        message: '请添加收货地址',
                        duration: 1500
                    });

                    _this.favDisabled = true;

                    setTimeout(function(){
                        _this.favDisabled = false;
                    },1500);

                    return false;
                }


               if(_this.radio == 0){
//                   _this.$message({
//                       type: 'error',
//                       message: '请设置默认地址'
//                   });
//                   return false;
                   _this.username = _this.deliveryList[0].recipients;
                   _this.telephone = _this.deliveryList[0].mobilePhone;
                   _this.location = _this.deliveryList[0].address;
               }


                _this.addressID = _this.radio;

                //productID, productName, productImgUrl, productType, productPrice, addressID,
                baseAjax.createOrder(_this.goodsid, _this.username, _this.telephone, _this.location, function (data, errorMsg) {
                    if (data) {

                        console.log(data);

                        _this.showBuySuccess = true;

                        _this.ordernum = data.data.ordernum;

                        _this.bigtype = data.data.bigtype;

                        _this.Data = data.data;

                        _this.rotation();

//                        window.location.replace('store_order_detail.html?ordernum='+data.data.ordernum+'&bigtype='+data.data.bigtype);

                    } else {
                        _this.$message({
                            type: 'error',
                            message: errorMsg,
                            duration: 1500
                        });

                        _this.favDisabled = true;

                        setTimeout(function(){
                            _this.favDisabled = false;
                        },1500);

                    }

                    console.log(data);
                });


            },


            submitOrder: function submitOrder() {

                var _this = this;

                //判断用户登录状态
                var _user = base.getCookie('userInfo');

                if (base.isNull(_user)) {
                    //前去登录
                    window.location.href = 'login.html?call=true';
                    return false;
                }

                window.location.href ='store_add_order_address.html?goodsid='+_this.goodsid;
            }

        },
        created: function created() {

            var _this = this;

            var _user = base.getCookie('userInfo');

            if (base.isNull(_user)) {
                //- 未登录
            } else {
                _this.user = JSON.parse(_user);

//                console.log(_this.user);
            }
            _this.getData();
            _this.showBuySuccess = false;
            _this.deliveryList = [];
            _this.getaddressList();
        }
    });

    $(function () {
        var isPageHide = false;
        window.addEventListener('pageshow', function () {
            if (isPageHide) {

                var _this = vm;

                var _user = base.getCookie('userInfo');

                if (base.isNull(_user)) {
                    //- 未登录
                } else {
                    _this.user = JSON.parse(_user);

                    console.log(_this.user);
                }
                _this.getData();
                _this.showBuySuccess = false;
                _this.deliveryList = [];
                _this.getaddressList();

            }
        });
        window.addEventListener('pagehide', function () {
            isPageHide = true;
        });
    });

</script>

<div style="display: none">
    <script src="https://s13.cnzz.com/z_stat.php?id=1264319468&web_id=1264319468" language="JavaScript"></script>
</div>

</body>
</html>
