<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <!-- sys css -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/loading.css" rel="stylesheet" media="screen">
    <!-- Element-UI css -->
    <link rel="stylesheet" href="css/element-ui@1.2.4.css">

    <title>我的竞猜</title>
</head>
<body class="warpper-black-4">

<!--
| ------------------------------------------
| user_ticket_all_page
| ------------------------------------------
| Here are user_ticket_all_page html
|
-->

<div id="user_ticket_all_page">

    <div class="loader">
        <div class="loader-content">
            <img src="images/loading_1.gif" alt="Loader" class="loader-loader wb15"/>
            <div class="clear h40px"></div>
            <p class="text-center" style="color: #999999 ">正在加载中...</p>
        </div>
    </div>

    <!--<div class="wb100 h50px relative warpper-red" style="z-index: 99999;">-->
        <!--<a href="user.html">-->
            <!--<div class="w50px h50px fl">-->
                <!--<div style="height: 18px; width:10px; float: left; margin-left: 15px; margin-top: 16px;" class="img-area"><img src="images/icon-back.png"></div>-->
            <!--</div>-->
        <!--</a>-->
        <!--<p class="wb70 text-over-hidden1 absolute text-center h50px lh50px F16 Fwhite" style="top: 0; left: 0; right: 0; margin: 0 auto;">投注记录</p>-->
    <!--</div>-->

    <div class="wb100 lh45px text-center fixed bor-black2 bor-solid-1b warpper-black-3" style="top: 0; left: 0; z-index: 99;">
        <div class="wb33333 fl" v-for="(item,key) in navList" @click="navChange(key)">
            <span class="tab-nav pal10 par10" :class="current == (key) ? 'tab-nav-active' : ''">{{item}}</span>
        </div>
    </div>

    <div class="clear h45px"></div>

    <div class="wb100 Fgray-3">
        <template v-for="item in recordList" v-if="empty==false">

            <div class="clear1"></div>

            <a href="javascript:;" @click="redirect('soccer_result.html?orderID='+item.orderID)">
                <div class="pal15 par15 relative warpper-black-3 Fgray-5">

                    <p class="lh35px F14 relative text-over-hidden1" style="padding-left: 65px;">

                        <span class="fl pal10 par10 h25px lh25px mat5 mar10 radius4 absolute" :class="item.lotTip == '单关' ? 'warpper-black-5' : 'warpper-red-8'">{{item.lotTip}}</span>

                        <span class="fl">{{item.subtitle}}</span>

                        <!--<span class="fr Fgray-6 F12">{{dateFormat(item.matchTime,16)}} 开赛</span>-->
                    </p>

                    <div class="clear h10px bor-black2 bor-solid-1t"></div>

                    <div class="wb100">
                        <div class="wb50 fl lh25px">
                            <p class="F14 Fgray-6 lh25px h25px">竞猜玩法：{{item.lotTip}}</p>
                            <p class="F14 Fgray-6 lh25px h25px">竞猜金币：{{item.lotMoney}}</p>
                            <p class="F14 Fgray-6 lh25px h25px">竞猜时间：{{dateFormat(item.payTime)}}</p>
                        </div>
                        <div class="wb40 fr lh25px text-right par5per">

                            <template v-if="item.status == 2">
                                <p class="h30px lh30px F18 Forange-2" style="margin-top: 7px;">
                                    已中奖
                                </p>
                                <p class="h30px lh30px Forange-2">
                                    <span class="Fnum">{{ item.bonus }}</span> 金币
                                </p>
                            </template>

                            <template v-else>
                                <p class="h75px lh75px F18">
                                    <span v-if="item.status == 0" class="Fgray-5">等待支付</span>
                                    <span v-if="item.status == 1" class="Fgray-5">等待赛果</span>
                                    <span v-if="item.status == 3" class="Fgray-6">未中奖</span>
                                    <span v-if="item.status == 4" class="Fgreen">退款</span>
                                </p>
                            </template>

                        </div>
                    </div>

                    <div class="clear h5px"></div>

                    <img src="images/arrow-right.png" class=" h16px absolute" style="bottom:33px; right:15px;">

                </div>
            </a>

            <div class="clear"></div>
        </template>

        <div class="clear1"></div>

        <div class="wb100 h40px warpper-black-3">
            <div class="text-center Fgray-6 h40px lh40px center w120px F14" v-show="loading">
                <img src="images/loading-2.gif" v-show="!last" class="h20px fl mat10">
                <span class="fl mal10">{{loadtext}}</span>
            </div>
        </div>

        <div class="wb100 text-center" v-if="empty==true">
            <div class="" style="padding-top: 75px"></div>
            <!--<img src="images/kb_gc.png"  class="wb25 center mat50">-->
            <p class="Fgray-2 F16 lh25px h25px">还没有竞猜记录</p>
            <p class="Fgray-1 F14 lh25px h25px">快去参加竞猜赢金币吧~</p>
            <div class="clear1"></div>
            <p class="Fgray-2 F14">大家都在竞猜</p>
            <div class="clear1"></div>

            <a href="javascript:;" @click="redirect('soccer_detail_bet.html?matchID='+ recommend.matchID)" v-if="noRecommend == false">
                <div class=" h60px lh15px center pa15 warpper-white text-center Fblack" style="width: 240px">
                    <div class="w100px fl">
                        <img :src="recommend.homeTeamLogo" class="w30px h30px mat5">
                        <p class="mat10 wb100 h20px lh15px text-over-hidden1 F14">{{cutStrForNum(recommend.homeTeam,5)}}</p>
                    </div>
                    <div class="w40px fl">
                        <img src="images/icon-vs2.png" class="h16px" style="margin-top: 13px">
                    </div>
                    <div class="w100px fl">
                        <img :src="recommend.visitingTeamLogo" class="w30px h30px mat5">
                        <p class="mat10 wb100 h20px lh15px text-over-hidden1 F14">{{cutStrForNum(recommend.visitingTeam,5)}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

<!-- sys js -->
<script src="js/jquery-2.1.4.js"></script>
<!--<script src="js/jquery-1.8.3.min.js"></script>-->
<script src="js/vue.min.js"></script>
<!-- Element-UI js -->
<script src="js/element-ui@1.3.3.js"></script>
<script src="js/base.js"></script>
<script src="js/md5_ch.js"></script>
<script src="js/jquery.rotate.js"></script>
<script src="js/interface.js"></script>
<script src="js/loading.js"></script>

<script>
    'use strict';

    var vm = new Vue({
        el: "#user_ticket_all_page",
        data: {
            login: false,
            fullscreenLoading: false,
            noRecommend: false,
            user: {},
            recommend: {
                homeTeam: '',
                visitingTeam:''
            },
            current: 0,
            page: 1,
            pageSize: 20,
            navList: ['全部', '已中奖', '待开奖'],
            recordList: [],
            loadtext: '数据加载中...',
            loading: true,
            empty: false,
            last: false
        },
        methods: {
            getData: function getData() {

                var _this = this;

                baseAjax.matchOrderList(_this.page, _this.pageSize, _this.current, function (data) {

                        console.log(data);

                        if (data) {
                            var _tmp = data.returnJSON.indexData;

                            if (_tmp.length == 0 || _tmp.length < _this.pageSize) {

                                if (_this.page == 1) {
                                    _this.loading = false;
                                    _this.last = true;
                                    _this.loadtext = '暂无更多数据';
                                } else {
                                    _this.loading = true;
                                    _this.last = true;
                                    _this.loadtext = '暂无更多数据';
                                    return false;
                                }
                            }

                            if (_tmp.length == 0) {
                                _this.empty = true;
                                return false;
                            } else {
                                _this.empty = false;
                            }

                            //-- 判断status

                            //                            var now = new Date();
                            //
                            //                            for(var i=0; i<_tmp.length; i++){
                            //
                            //                            }
                            //
                            //                            matchTime


                            //                            item.status

                            _this.recordList = _this.recordList.concat(_tmp);
                        } else {
                            _this.empty = true;
                        }
                    }
                    //

                );
            },

            redirect : function redirect(url) {
                window.location.href = url;
            },

            dateFormat: function timeFormat(date, index) {
                return date.substring(5, index);
            },

            cutStrForNum: function cutStrForNum(str, num) {
                if(str.length <= num){
                    return str;
                }else{
                    return str.substring(0, num-1) + '...';
                }
            },

            navChange: function navChange(key) {
                this.current = key;
                this.recordList = [];
                this.page = 1;
                this.loading = true;
                this.last = false;
                this.loadtext = '数据加载中...';
                this.getData();
            },
            twoDecimal: function twoDecimal(x) {
                var f = parseFloat(x);
                if (isNaN(f)) {
                    return false;
                }
                var f = Math.round(x * 100) / 100;
                var s = f.toString();
                var rs = s.indexOf('.');
                if (rs < 0) {
                    rs = s.length;
                    s += '.';
                }
                while (s.length <= rs + 2) {
                    s += '0';
                }
                return s;
            }
        },
        created: function created() {
            var _this = this;

            var _current = base.getParmar('nav');

            if (base.isNull(_current)) {
                _current = 0;
            }

            _this.current = _current;

            $(window).scroll(function () {
                if (_this.empty) return false;
                var scrollTop = $(window).scrollTop();
                var scrollHeight = $(document).height();
                var windowHeight = $(window).height();
                if (scrollTop + windowHeight == scrollHeight) {
                    _this.page++;
                    _this.getData();
                }
            });

            //获取推荐赛事
            baseAjax.recommendMatchInfo(function (data) {
                console.log(data);
                if(data){
                    if(!base.isNull(data.returnJSON)){
                        _this.recommend = data.returnJSON;
                    }else{
                        _this.noRecommend = true;
                    }
                }else{
                    _this.noRecommend = true;
                }
            })

            _this.recordList = [];
            _this.page = 1;
            _this.loading = true;
            _this.last = false;
            _this.loadtext = '数据加载中...';

            _this.getData();
        }
    });

    $(function () {
        var isPageHide = false;
        window.addEventListener('pageshow', function () {
            if (isPageHide) {

                var _this = vm;

                var _current = base.getParmar('nav');

                if (base.isNull(_current)) {
                    _current = 0;
                }

                _this.current = _current;

                $(window).scroll(function () {
                    if (_this.empty) return false;
                    var scrollTop = $(window).scrollTop();
                    var scrollHeight = $(document).height();
                    var windowHeight = $(window).height();
                    if (scrollTop + windowHeight == scrollHeight) {
                        _this.page++;
                        _this.getData();
                    }
                });

                _this.recordList = [];
                _this.page = 1;
                _this.loading = true;
                _this.last = false;
                _this.loadtext = '数据加载中...';

                _this.getData();
            }
        });
        window.addEventListener('pagehide', function () {
            isPageHide = true;
        });
    });
</script>

<div style="display: none">
    <script src="https://s13.cnzz.com/z_stat.php?id=1264319468&web_id=1264319468" language="JavaScript"></script>
</div>

</body>
</html>
