
.main-warpper{ width:100%; height:auto;}
.main{ width:100%; height:auto;}
        	
.floor{ width:100%; height:auto;} 

.floor3{ width:1160px; height:820px; margin:0 auto; padding-top:20px;}
.floor3 .floor3-title{ width:1160px; height:100px; }
.floor3 .floor3-content{ width:1160px; height:500px;}
.floor3 .floor3-content li{ width:385px; height:400px; float:left; margin:0; overflow:hidden;}
.floor3 .floor3-content li .li-pic{  width:385px; height:400px;}
.floor3 .floor3-content li .li-pic img{  width:385px; height:400px;}
.floor3 .floor3-content li .li-dec{ width:345px; height:360px; position:relative; color:#fff; padding:20px; text-align:left; line-height:25px; font-size:13px; font-weight:600; z-index:5;}
.floor3 .floor3-content li .li-btn{ width:225px; height:100px; position:relative; margin-top:-100px; z-index:10; color:#fff; text-align:center; font-size:50px; font-weight:800; line-height:100px;}

.floor4{ width:1160px; height:500px; margin:0 auto;}
.floor4 .floor4-title{ width:1160px; height:100px; }
.floor4 .floor4-content{ width:1160px; height:400px;}
.floor4 .floor4-content li{ width:270px; height:350px; float:left; margin:55px;}
.floor4 .floor4-content li .li-pic{ width:270px; height:270px; margin:0 auto;}
.floor4 .floor4-content li .li-dec{ width:270px; height:50px; font-size:23px; color:#fff; text-align:center; line-height:50px; font-weight:800; margin:5px 0;}
.floor4 .floor4-content li .li-txt{ width:270px; height:220px; line-height:20px; text-align:left; color:#fff; font-size:13px; }

.floor5{ width:1160px; height:600px; margin:0 auto; padding-top:50px;}
.floor5 .floor5-title{ width:400px; height:60px; text-align:left; font-size:50px; font-weight:800; color:#fff;}
.floor5 .floor5-content{ width:1160px; height:300px; position:relative;}
.floor5 .floor5-content .faq{}
.floor5 .floor5-content .faq .faq-left{ width:600px;}
.floor5 .floor5-content .faq .faq-left dl{ background:url(../images/faq-num.png) no-repeat; padding-left:35px; margin-top:30px;}
.floor5 .floor5-content .faq .faq-left dl.faq_num1{ background-position:2px 5px;}
.floor5 .floor5-content .faq .faq-left dl.faq_num2{ background-position:0 -65px;}
.floor5 .floor5-content .faq .faq-left dl.faq_num3{ background-position:0 -140px;}
.floor5 .floor5-content .faq .faq-left dl.faq_num4{ background-position:0 -211px;}
.floor5 .floor5-content .faq .faq-left dl.faq_num5{ background-position:0 -285px;}
.floor5 .floor5-content .faq .faq-left dl.faq_num6{ background-position:0 -355px;}
.floor5 .floor5-content .faq .faq-left dl dt{ color:#ffe403; font-size:18px; font-family:"微软雅黑";}
.floor5 .floor5-content .faq .faq-left dl dd{ color:#fff; font:normal 14px/30px "微软雅黑";}
.floor5 .floor5-content .faq .faq-right{ position:absolute; top:0px; left:700px;}

.floor6{ width:1160px; height:570px; margin:0 auto; padding-top:60px; }
.floor6 .floor6-title{ width:1160px; height:100px; }
.floor6 .floor6-title .floor6-pic{ width:252px; height:176px; margin:40px auto;}
.floor6 .floor6-title .floor6-txt{ width:189px; height:64px; margin:40px auto;}
.floor6 .floor6-title .floor6-dec{ width:527px; height:40px; margin:40px auto;}

.header-warpper{ width:100%; height:35px;}
.header{ width:1160px; height:35px; margin:0 auto;}
.header-fixed .header { background: none repeat scroll 0 0 #42474B; box-shadow: 0 1px 5px #BABABA; height: 30px;left: 0; overflow: visible;
 padding: 5px 0; position: fixed; top: 0; width: 100%;z-index: 100;}
.header .nav{ width:400px; height:35px; float:right;}
.header .nav li{ height:35px; text-align:center; width:100px; line-height:35px; color:#fff; font-size:13px; float:left;}
.header .nav li:hover{ background:#000; color:#333;}
.header .nav li-hover{ background:#000; color:#333;}

.top-warpper{ width:100%; height:110px;}
.top{ width:1160px; height:110px; margin:0 auto;}
.top .top-logo{ width:300px; height:66px; float:left; margin-top:20px; text-align:left; color:#fff; font-size:45px; font-weight:800; line-height:66px;}
.top .top-ico{ width:200px; height:40px; float:right; margin-top:50px;}
.top .top-ico li{ width:37px; height:37px; margin:5px; float:left;}

.slide-warpper{ width:50px; height:auto; position:fixed; margin-top:200px; margin-left:30px;}
.slide{ width:30px; height:auto; margin:0 auto;}
.slide li{ width:28px; height:28px; margin-top:20px; cursor:pointer; }

.box-orange{ background:url(../images/box-bg.png);}
.box-grey{ background:url(../images/box-bg.png) -238px 0px;}
.box-blue{ background:url(../images/box-bg.png) -238px 0px;}
.box-paper{ background:url(../images/box-bg.png) 0px -110px;}
.box-green{ background:url(../images/box-bg.png) -238px -110px;}
.box-pink{ background:url(../images/box-bg.png) 2px -220px;}
.box-red{ background:url(../images/box-bg.png) -238px -220px;}
.box-white{ background:#fff;}
.box-black{ background:#000;}
.box-none{ background:none;}

.footer-warpper{ width:100%; height:300px;}
.footer{ width:1160px; height:300px; margin:0 auto;}




