<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <!-- sys css -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/loading.css" rel="stylesheet" media="screen">
    <!-- Element-UI css -->
    <link rel="stylesheet" href="css/element-ui@1.3.3.css">
    <!-- sys js -->
    <script src="js/jquery-2.1.4.js"></script>
    <!--<script src="js/jquery-1.8.3.min.js"></script>-->
    <script src="js/vue.js"></script>
    <!-- Element-UI js -->
    <script src="js/element-ui@1.3.3.js"></script>
    <script src="js/base.js"></script>
    <script src="js/md5.js"></script>
    <script src="js/md5_ch.js"></script>
    <script src="js/interface.js"></script>
    <script src="js/shopping_mall.js"></script>
    <script src="js/loading.js"></script>


    <style>

        .el-radio__input.is-checked .el-radio__inner{border-color: #48a44a;background: #48a44a;}

    </style>

    <title>收货地址</title>
</head>
<body class="warpper-gray-3">

<!--
| ------------------------------------------
| store_page
| ------------------------------------------
| Here are store_order_address_page html
|
-->

<div id="store_order_address_page">

    <!--loader-->
    <div class="loader">
        <div class="loader-content">
            <img src="images/loading_1.gif" alt="Loader" class="loader-loader" />
        </div>
    </div>

    <div class="wb100">



        <template v-for="(item,key) in deliveryList">
            <div class="wb100 warpper-white">
                <div class="pa15 ">
                    <p>

                        <span class="fl">{{item.recipients}}</span>
                        <span class="fr Fnum">{{item.mobilePhone}}</span>
                    </p>
                </div>

                <div class="clear1"></div>

                <div class="pal15">
                    <p class="F14  h30px bor-solid-1b bor-gray">{{item.address}}</p>

                </div>

                <div class="pa15">

                    <div class="radio fl h30px lh30px" @click="myClick(item.addressID, key)">
                        <el-radio  v-model="radio" :label="item.addressID" >设为默认地址</el-radio>
                    </div>

                    <div class="fr bor-solid-1a w60px h30px lh30px text-center radius5"  @click="exchange(item.addressID)">
                        删除
                    </div>

                    <!--<a :href="'store_edit_order_address.html?addressID='+item.addressID+'&recipients='+item.recipients+'&mobilePhone='+item.mobilePhone+'&address='+item.address">-->
                        <div class="fr bor-solid-1a w60px h30px lh30px text-center radius5 mar15 Fblack" @click="edit(item)">
                            编辑
                        </div>
                    <!--</a>-->

                </div>
                <div class="clear1"></div>
                <div class="clear1 warpper-gray-3"></div>
            </div>

        </template>

        <div class="wb100" id="dialog" style="display: none">
            <div class="dialogBg"></div>
            <div class="wb100 fixed" style="bottom:50%;z-index: 99">
                <div class=" warpper-white radius5 wb70 center ">
                    <div class="wb100 h150px">
                        <div class="text-center">
                            <p class="lh100px h100px bor-solid-1b bor-gray">确定删除地址吗？</p>
                            <!--<p class="F14 Fgray-3 bor-solid-1b bor-gray  h40px">需花费<span class="Fred Fnum"></span>金币</p>-->
                            <p class="lh50px h50px">
                                <span class="fl  wb50 bor-solid-1r bor-gray " style="height: 49px" @click="cancel">取消</span>
                                <span class="fr  wb49 Fgreen" @click="remove">确定</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="clear1"></div>


        <div class="pa15">
            <div class="wb100 h45px lh45px Fgreen F16 text-center radius5 bor-solid-1a bor-green"  @click="submitOrder">新增收货地址</div>
        </div>

        <div class="pa15">
            <div class="wb100 h45px lh45px Fwhite F16 text-center radius5 warpper-green-4"  @click="pay">确定</div>
        </div>





    </div>


</div>

<script>


    "use strict";

    var vm = new Vue({
        el: "#store_order_address_page",
        data: {
            fullscreenLoading: true,
            radio: 0,
            deliveryList: [],
            page: 1,
            pageSize: 20,
            removeID: 0,
            recipients:"",
        },
        methods: {


            getData: function getData() {
                var _this = this;

                _this.goodsid = base.getParmar('goodsid');

//                _this.username = decodeURI(base.getParmar('username'));
//
//                _this.telephone = base.getParmar('telephone');


            },


            edit: function edit(key) {
                var _this = this;

                _this.addressID = key.addressID

                _this.recipients = key.recipients

                _this.mobilePhone = key.mobilePhone

                _this.address = key.address

                window.location.replace('store_edit_order_address.html?addressID='+_this.addressID+'&recipients='+_this.recipients+'&mobilePhone='+_this.mobilePhone+'&address='+_this.address+'&goodsid=' + _this.goodsid);

            },

            myClick: function myClick(key, i) {

                var _this = this;

                _this.radio = key;

                _this.addressID = key;

                _this.username = _this.deliveryList[i].recipients;

                _this.telephone = _this.deliveryList[i].mobilePhone;

                _this.location = _this.deliveryList[i].address;

                baseAjax.defaultAddress(key, function (data) {
                    if(data){
                        console.log(data);
                    }
                });
            },

            getaddressList: function getaddressList() {

                var _this = this;

                baseAjax.addressList(_this.page, _this.pageSize, function (data) {

                    var _tmp = data.returnJSON.indexData;

                    console.log(data);

                    for (var i = 0; i < _tmp.length; i++) {
                        if (_tmp[i].isDefault == 1) {
                            _this.radio = _tmp[i].addressID;
                            _this.username = _tmp[i].recipients;
                            _this.telephone = _tmp[i].mobilePhone;
                            _this.location = _tmp[i].address;
                            console.log(_tmp[i]);
                            break;
                        }
                    }

                    _this.deliveryList = _this.deliveryList.concat(_tmp);

                });
            },

            exchange: function exchange(key) {


                $("#dialog").show(0);
                this.removeID = key;
                console.log(key)
            },

            cancel: function cancel(key) {


                $("#dialog").hide(0);
                this.removeID = key;
            },

            remove: function remove() {

                var _this = this;

                baseAjax.delAddress(_this.removeID, function (data) {
                    if (data) {
                        _this.deliveryList = [];
                        _this.getaddressList();
                    }
                });

                $("#dialog").hide(0);

            },


            pay: function pay() {

                var _this = this;


                if(_this.deliveryList.length == 0){
                    _this.$message({
                        type: 'error',
                        message: '请添加收货地址'
                    });
                    return false;
                }


               if(_this.radio == 0){
//                   _this.$message({
//                       type: 'error',
//                       message: '请设置默认地址'
//                   });
//                   return false;
                   _this.username = _this.deliveryList[0].recipients;
                   _this.telephone = _this.deliveryList[0].mobilePhone;
                   _this.location = _this.deliveryList[0].address;
               }


                _this.addressID = _this.radio;

                //productID, productName, productImgUrl, productType, productPrice, addressID,
                baseAjax.createOrder(_this.goodsid, _this.username, _this.telephone, _this.location, function (data, errorMsg) {
                    if (data) {
                        _this.$message({
                            type: 'success',
                            message: '抽奖成功'
                        });
                        console.log(data);



                        window.location.replace('store_order_detail.html?ordernum='+data.data.ordernum+'&bigtype='+data.data.bigtype);
                    } else {
                        _this.$message({
                            type: 'error',
                            message: errorMsg
                        });
                    }

                    console.log(data);
                });


            },


            submitOrder: function submitOrder() {

                var _this = this;

                //判断用户登录状态
                var _user = base.getCookie('userInfo');

                if (base.isNull(_user)) {
                    //前去登录
                    window.location.href = 'login.html?call=true';
                    return false;
                }


                window.location.replace('store_add_order_address.html?goodsid='+_this.goodsid);
            }

        },
        created: function created() {

            var _this = this;

            var _user = base.getCookie('userInfo');

            if (base.isNull(_user)) {
                //- 未登录
            } else {
                _this.user = JSON.parse(_user);

//                console.log(_this.user);
            }
            _this.getData();
            _this.getaddressList();
        }
    });

    $(function () {
        var isPageHide = false;
        window.addEventListener('pageshow', function () {
            if (isPageHide) {

                var _this = vm;

                var _user = base.getCookie('userInfo');

                if (base.isNull(_user)) {
                    //- 未登录
                } else {
                    _this.user = JSON.parse(_user);

                    console.log(_this.user);
                }
                _this.getData();
                _this.getaddressList();

            }
        });
        window.addEventListener('pagehide', function () {
            isPageHide = true;
        });
    });

</script>

</body>
</html>
